[2018-02-20 16:55] cloudstudio opened #1 "Bad Aliases"
I think aliases is wrong 👎

'aliases' => [
    'Twitter' => Dacastro4\LaravelGmail\Facades\LaravelGmail::class,
]

[2018-02-20 18:47] cloudstudio opened #2 "Call to undefined method Dacastro4\LaravelGmail\LaravelGmailClass::messages()"
Another issue here, when i try to get all messages.

Call to undefined method Dacastro4\LaravelGmail\LaravelGmailClass::messages()

LaravelGmail::messages()->unread()->all();

Change to

LaravelGmail::message()->unread()->all();

[2018-02-20 19:40] cloudstudio opened #3 "Trait method __construct has not been applied, because there are collisions with other trait methods on Dacastro4\LaravelGmail\Services\Message\Mail"
I get this error when i try to get all emails

Trait method __construct has not been applied, because there are collisions with other trait methods on Dacastro4\LaravelGmail\Services\Message\Mail

LaravelGmail::message()->all( );

[2018-02-24 02:56] #1 closed

[2018-02-24 02:56] #2 closed

[2018-02-24 23:40] dacastro4 commented on #3
I pushed the fix for this issue. Let me know @cloudstudio

[2018-02-25 17:39] cloudstudio commented on #3
I find other bugs, but all right here :)

Thanks man for you job !

[2018-02-26 00:11] dacastro4 commented on #3
Just open a new issue and I'll work on it.

[2018-02-26 00:11] #3 closed

[2018-03-15 12:25] JexPY opened #5 "Collisions"
![image](https://user-images.githubusercontent.com/9080830/37463055-795be2aa-286d-11e8-8f5c-1e2803dc73ce.png)

[2018-03-15 12:28] dacastro4 commented on #5
@JexPY this is when you run what?

[2018-03-15 12:35] JexPY commented on #5
@dacastro4  For example

[code]

[2018-03-15 17:32] dacastro4 commented on #5
Thanks, @JexPY. I'll check this tonight.

[2018-03-16 01:39] dacastro4 commented on #5
Hey @JexPY, which version of the package are you using? I'm testing and I cannot replicate the same exception.

[2018-03-16 08:23] JexPY commented on #5
@dacastro4
![image](https://user-images.githubusercontent.com/9080830/37510425-6ec02f5c-2914-11e8-89ab-ac484fe241ad.png)

And as soon as I comment this part
class Mail extends GmailConnection

It runs

[2018-03-16 22:36] dacastro4 commented on #5
I'm trying to replicate the issue. What version of PHP are you using?

[2018-03-22 01:31] dacastro4 commented on #5
@JexPY I pushed some new code. Let me know if it fixes your issue.

[2018-03-22 08:40] JexPY commented on #5
@dacastro4 It's fixed. Good Luck

[2018-03-22 11:51] #5 closed

[2018-03-27 19:07] sbasi5576 opened #6 "Good documentation - do you have a tutorial?"
Hi,

Do you have a step by step tutorial?

I am assuming one will have to put use LaravelGmail; in their controller?

Thanks

[2018-03-28 02:41] dacastro4 commented on #6
Hey @sbasi5576. I don't have a step by step tutorial but I'll help you with everything you need.

[2018-03-28 02:48] sbasi5576 commented on #6
Thanks.  Do I need laravel 5.6 or can I use it with 5.1?  I tried installing it on 5.1 and got some swiftmailer related errors.

[2018-03-28 02:49] sbasi5576 commented on #6
Also do I need to declare it in my controller?

[2018-03-28 04:42] dacastro4 commented on #6
@sbasi5576. Can you send me the errors on 5.1?.
Yes, you need to declare `use Dacastro4\LaravelGmail` on your controller.

[2018-03-28 04:51] sbasi5576 commented on #6
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for dacastro4/laravel-gmail ^0.3.6 -> satisfiable by dacastro4/laravel-gmail[v0.3.6].
    - Conclusion: remove swiftmailer/swiftmailer v5.4.9
    - Conclusion: don't install swiftmailer/swiftmailer v5.4.9
    - dacastro4/laravel-gmail v0.3.6 requires swiftmailer/swiftmailer ^6.0 -> sa

[2018-03-28 04:57] dacastro4 commented on #6
Perfect. I'm gonna get into this tomorrow :). Thank you. If you need more help let me know

[2018-03-29 07:35] sbasi5576 commented on #6
I upgraded to 5.6 was able to install it.  Thanks.  I will try it out in the morning.

[2018-03-29 08:04] sbasi5576 commented on #6
I looked at it further - I think it would be helpful if you can provide a sample controller or a starter function in the tutorial to cover the following.

LaravelGmail::getAuthUrl Gets the URL to auth the user.

LaravelGmail::redirect You can use this as a direct method <a href="{{ LaravelGmail::redirect() }}">Login</a>

LaravelGmail::logout Logs out the user

LaravelGmail::check Checks if the use

[2018-03-30 05:19] sbasi5576 opened #7 "Does anyone have have a sample controller?"
I am looking for an example to get started.  Especially how to use the following:

LaravelGmail::getAuthUrl Gets the URL to auth the user.

LaravelGmail::redirect You can use this as a direct method <a href="{{ LaravelGmail::redirect() }}">Login</a>

LaravelGmail::logout Logs out the user

LaravelGmail::check Checks if the user is logged in

[2018-03-30 05:40] #6 closed

[2018-03-30 05:43] sbasi5576 opened #8 "Class 'Dacastro4\LaravelGmail' not found"
I am getting the following error after following your installation steps.  I have entries in the app.php in the config directory for both class and alias and I have published it as well.

Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Class 'Dacastro4\LaravelGmail' not found

Also see teh following:
Symfony\Component\Debug\Exception\FatalThrowableError
…/app/Http/Controlle

[2018-04-04 23:54] dacastro4 commented on #8
What version of Laravel are you using?

[2018-04-05 00:29] sbasi5576 commented on #8
5.6.  Actually, I used a different package to accomplish what I needed to.  Thanks.

[2018-04-05 00:29] #8 closed

[2018-04-07 08:53] waqas767 opened #9 "Getting "No credentials found." auth exception"
I am getting  "No credentials found." auth exception on "LaravelGmail::message()->unread()->all()" after login(LaravelGmail::redirect()).

[2018-04-07 20:36] dacastro4 commented on #9
Hey @waqas767 . Can you check if you have a file on `storage/app/gmail/tokens`? What file driver are you using?

[2018-04-07 21:02] dacastro4 commented on #7
I'm sorry, I've been a bit busy. Do you still need the examples? I can show a code that I have that might help you.

[2018-04-07 22:44] dacastro4 commented on #7
I'll show you some examples that I have in my local.

## Welcome Blade:
[code]

## Routes:
[code]

Then if in your controller or wherever you want to do your logic, you do something link:
[code]
Note that if you don't preload the messages you have to do something like:
` $body = $message->load()->getSubject();`
and after that you don't have to call it again.

[2018-04-26 13:06] #9 closed

[2018-04-26 13:07] #7 closed

[2018-04-28 14:48] stacybot123 opened #10 "Send Emails using Laravel Mail Facades"
Hi,

How do I send emails with the views like we do using Laravel Mail Facades .
Also I am unable to figure out the how to set a user. For example I have multiple users signup with their Gmail to send mail from. I have saved the access_token and refresh_token , how do I set a user while sending emails, so the email will go from that user.

Thanks,

[2018-04-28 23:08] dacastro4 commented on #10
Hey @stacybot123. You can easily do `$mail->message(view('view.name')->render())` but it's a good idea to add a method called view so you can do something like `$mail->view(view('view.name'))`.

I don't have that option but is another great idea.

[2018-05-06 17:26] joannesnoel opened #12 "Class 'Dacastro4\LaravelGmail\Facades\LaravelGmail' not found"
I kept getting this error.

`Class 'Dacastro4\LaravelGmail\Facades\LaravelGmail' not found`

I have tried everything clearing cache, reinstalling both v0.4.1 and v0.4

I am running Laravel v5.4 and followed the installation. I added both provider and the fascade.

Please help, thanks!

[2018-05-06 17:35] joannesnoel commented on #12
This is the stack trace

[2018-05-06 17:33:32] local.ERROR: ErrorException: Class 'Dacastro4\LaravelGmail\Facades\LaravelGmail' not found in /var/www/disco/vendor/laravel/framework/src/Illuminate/Foundation/AliasLoader.php:79
Stack trace:
#0 [internal function]: Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(2, 'Class 'Dacastro...', '/var/www/disco/...', 79, Array)
#1 /var/www/disco

[2018-05-06 17:45] joannesnoel commented on #12
Figured it out!

This
[code]

Should be
[code]

[2018-05-09 09:40] rsmith87 opened #13 "No credentials found."
Dacastro4\LaravelGmail\Exceptions\AuthException
No credentials found.

I've renamed the env variable of 'credentials_file_name' => env( 'GOOGLE_CREDENTIALS_NAME', 'client.json') with the downloaded file from Google stored in the root of my directory.

Any advice on this?  Thanks a bunch for your work on this!

[2018-05-09 10:06] rsmith87 commented on #13
Whoops.  I figured out where you've configured the directory to store this.

For future reference, defaults to storage/app/gmail/tokens

[2018-05-09 10:06] #13 closed

[2018-05-10 00:40] dacastro4 commented on #12
I'm sorry! I'm glad you figured it out! @joannesnoel

[2018-05-10 00:40] #12 closed

[2018-05-10 00:41] dacastro4 commented on #13
Glad you figured it out!

[2018-05-10 01:51] rsmith87 opened #14 "How to send an email?"
Thanks again for the awesome package.  I'm having troubles sending an email because I don't know what I should be instantiating it with.  Current code (that doesn't work):

      $mail = LaravelGmail::message()->to($data['to'])->from('someting@foo.com')->subject($subject)->message($texteditor)->send();

I don't think this is it.. Haha.

Would you have any objections to having some helpers to tie i

[2018-05-10 02:37] dacastro4 commented on #14
Hey @rsmith87. You should import the Mail class from my package and the code would be `$mail = new Mail->to($data['to'])->from('someting@foo.com')->subject($subject)->message($texteditor)->send();`. I forgot to put some code example of how to send and email, my bad.

[2018-05-10 02:49] rsmith87 commented on #14
Ah perfect!  Thanks!  No worries on the documentation, I was getting close as i was fishing in Replyable.  Thanks for being so responsive!

[2018-05-10 02:49] #14 closed

[2018-05-30 00:54] joannesnoel opened #15 "refresh token"
hello dacastro4,

is there a way to have a refresh token so that the auth does not expire? i dont want to keep re-authenticating Gmail. thanks!

regards,
Joannes

[2018-05-30 02:46] siegfriedsutanto opened #16 "getting gmail messages"
I am trying to test this code on my controller
$messages = LaravelGmail::message()->all( $pageToken = null );
var_dump($messages);
but i get this message
Dacastro4\LaravelGmail\Services\Message and Dacastro4\LaravelGmail\Traits\SendsParameters define the same property ($params) in the composition of Dacastro4\LaravelGmail\Services\Message. However, the definition differs and is considered incompat

[2018-05-30 03:06] siegfriedsutanto commented on #16
fixed... need to delete
use SendsParameters;

[2018-06-05 23:59] dacastro4 commented on #15
Hey! I'm sorry for the delay. It should do it automatically. Which file system driver are you using?

[2018-06-06 00:00] dacastro4 commented on #16
I'm going to take a look at this because you definitely should not remove that trait. Thank you

[2018-06-12 03:54] JeanHules opened #17 "Ordering the messages from newest to oldest"
I am getting the messages, but it is pulling the oldest emails first. Is there a way to pull the latest emails first?

[2018-06-14 18:35] anibalealvarezs commented on #16
Got the same error here when testing your Blade example:

'Dacastro4\LaravelGmail\GmailConnection and Dacastro4\LaravelGmail\Traits\Configurable define the same property ($configuration) in the composition of Dacastro4\LaravelGmail\GmailConnection. This might be incompatible, to improve maintainability consider using accessor methods in traits instead. Class was composed' in /home/sistemabidorg/ve

[2018-06-14 18:48] anibalealvarezs commented on #16
Since it's a private property, i jut changed the name:

`private $configuration;` to `private $configurate;`
`$this->configuration = $config;` to `$this->configurate = $config;`

[2018-06-14 22:53] dacastro4 commented on #16
@anibalealvarezs  @siegfriedsutanto I recently pushed some code that should fix this. Let me know please

[2018-06-14 22:53] dacastro4 commented on #17
Hey @JeanHules. AFAIK there's no way to sorted with oldest first but you can check more query parameters [here](https://support.google.com/mail/answer/7190?hl=en).
and you can use it doing:
```LaravelGmail::message()->subject('test')->unread()->add('before:2004/04/18')->all()```

[2018-06-25 14:49] buisine commented on #15
Hi,
also having same issue, token is never refreshed and i have to re-auth with google again and again.
Running on localhost now, token file exists in

storage/app/gmail/tokens

and my file system driver is :

env('FILESYSTEM_DRIVER', 'local')

thanks

[2018-07-05 17:43] coolashelvetica opened #18 "Fatal Error"
I am getting the following error once I log into my Gmail account and redirect back to the app URL

Dacastro4\LaravelGmail\Services\Message and Dacastro4\LaravelGmail\Traits\SendsParameters define the same property ($params) in the composition of Dacastro4\LaravelGmail\Services\Message. However, the definition differs and is considered incompatible. Class was composed

Any ideas?

[2018-07-13 08:20] Onderi opened #19 "Reply to existing messages"
Here is my code

 public function inbox(){
            $messages = LaravelGmail::message()->unread()->preload()->all();

            foreach ( $messages as $message ) {
            $subject = $message->getSubject();
            $body = $message->getPlainTextBody();
            $fromname= $message->getFromName();
            $fromemail= $message->getFromEmail();

            $mail =$message ->markA

[2018-07-14 16:42] dacastro4 commented on #19
Hey @Onderi.
Check the [sending](https://github.com/dacastro4/laravel-gmail#sending) of the documentation. You're missing the "->to()" with the recipient and more but that the only required thing.

[2018-07-14 16:45] dacastro4 commented on #18
Hey, @coolashelvetica! Sorry for the delay.

I couple days before you opened this issue I pushed some code that should resolve this issue. Please let me know If pulling the latest code helps you.

[2018-07-14 16:50] dacastro4 commented on #15
@buisine does your file has a structure like this?
[code]

[2018-07-14 16:50] dacastro4 commented on #16
I'm gonna close this issue. Feel free to reopen it if you keep getting the same error.

[2018-07-14 16:51] dacastro4 commented on #16
I'm gonna close this issue. Feel free to reopen it if you keep getting the same error.

[2018-07-14 16:51] #16 closed

[2018-07-14 16:51] #17 closed

[2018-07-16 07:31] Onderi commented on #19
Thanks for your reply..

Kindly help me spot the error in the code below.

 $mail= $message-> reply()->to($fromemail);

Kind regards

[2018-07-16 09:13] qmix21 opened #20 "Class 'Dacastro4\LaravelGmail' Not Found"
Hey

Trying to set this up in my controller but am unable to due to error when adding "use Dacastro4\LaravelGmail;" I have followed the README.md to the bone and am unable to see where i went wrong....

Using laravel version 5.6

[2018-07-16 13:48] dacastro4 commented on #19
Hey @Onderi
The problem is in the order. The `reply` method is the action that sends the actual email, that said your code should be `$mail= $message->to($fromemail)->reply();`

[2018-07-16 13:50] dacastro4 commented on #20
Hey @qmix21 can you show the error and the code that you're trying to run, please?

[2018-07-17 05:03] Onderi commented on #19
It worked!!!!
Thank you so much.
Regards.

[2018-07-17 05:03] #19 closed

[2018-07-18 04:59] qmix21 commented on #20
Error:
`Class 'Dacastro4\LaravelGmail' not found`

ReportController.php

[code]

config/app.php:
[code]

web.php:

```Route::get('/','ReportController@index');```

[2018-07-20 16:41] JonahKlimack commented on #20
I hate to say me too, but... me too.

laravel 5.3.31

controller is

[code]

same config/app.php as @qmix21

error is:

ErrorException in AliasLoader.php line 66:
Class 'Dacastro4\LaravelGmail\Facades\LaravelGmail' not found

in the vendor folder, folder names are  dacastro4/laravel-gmail...

[2018-07-21 15:49] JonahKlimack commented on #20
fixed here: https://github.com/dacastro4/laravel-gmail/issues/12

[2018-07-22 03:30] dacastro4 commented on #20
@JonahKlimack that's right. Totally my bad. Time to update the readme.

[2018-07-22 03:30] #20 closed

[2018-07-22 16:05] JonahKlimack opened #21 "feature request: ->take(5) or ->some(5) instead of all()"
Love how you structured all of this.  This has definitely saved me a ton of setup time to work with gmail api.

But as you said, it's a work in progress.

For my use case, the current filters aren't adequate enough to limit my query.

Currently this returns 100 messages and it takes a long time if I want to loop through them.

[code]

if I do this, it takes like 1 second:

[code]

this times out..

[2018-07-22 20:57] dacastro4 commented on #21
Thank you, @JonahKlimack .
I think that's a great idea. I'll push that method in a little bit.
Also, I  know we have the `preload` method but in reality, we should not preload a bush of emails at the same time because of what you mention, the performance.

[2018-07-23 12:00] qmix21 opened #23 "$message()->preload()->all(); doesn't return all emails"
Hey, I love your API, its great. However when trying to run it through all of my emails it only returns 99 instead of all of them(at this time is at 1300+). Is there a limit set somewhere that may be limiting it to 99 or is there an issue?

See below login from controller:
[code]

I Attempted in using your take() function but it doens't seem to increase the limit...

[2018-07-23 14:05] JonahKlimack commented on #23
Hi

First of all, this might be easier and does the same thing?

[code]

Second,  how many items does it say the collection has, when you run the above and uncomment dd($messages)  line ?

[2018-07-23 16:01] JonahKlimack opened #24 "error when the email has no html ?"
Pretty simple error, trying to fix it myself but I'm sure you could do it much quicker.

If the email is ONLY plain text with no html, we get an error. If the email has html in it, then all works fine.

[code]

The error message is

[code]

Great, now gmail keeps asking for a service account... might as well be asking me to create a rocket and successfully launch it into space. Thanks Google.

Any

[2018-07-24 02:36] dacastro4 commented on #21
@JonahKlimack  I'm glad it helped and don't worry about that, we are all noobs at some point, right? I'll be expecting your PR's.

[2018-07-24 02:36] #21 closed

[2018-07-24 02:43] dacastro4 commented on #23
Hey @qmix21 this [link](https://stackoverflow.com/questions/43269704/gmail-api-getting-all-gmail-inbox-messages-limits-to-500) may help you. I think I can't get all the emails because of Gmail restrictions.
@JonahKlimack thanks for the help.

[2018-08-28 12:28] yasirrose opened #25 "Take is not working fine"
the take function is not working. when i use the take it say method not define

[2018-08-28 12:47] dacastro4 commented on #25
Hey @yesirrose can you paste the code?

[2018-08-28 12:59] #25 closed

[2018-08-28 16:31] aqib555 opened #26 "getHtmlBody() through an error"
when I use the getHtmlBody() function. error occur when the email has no html in it

[2018-08-29 10:03] aqib555 commented on #26
I have resolved that issue by making checks on getBody function but i am facing another issue, my token is expire after 60 min, how can i use the refresh token? any help

[2018-08-29 10:10] aqib555 commented on #26
@dacastro4 or is there anyway to increase the expiration time of gmail-json file save in our storage directory?

[2018-09-04 05:52] shanwazfarooqe opened #27 "Page token missing"
Page token is missing when using limit data.

LaravelGmail::message()->limit(10)->in( $box = 'inbox' )->preload()->all();

How can i access pagetoken.

[2018-09-05 01:41] dacastro4 commented on #26
@aqib555 the expiration comes from Gmail, so no, you can't increase it. It should do it automatically.

[2018-09-05 01:50] dacastro4 commented on #27
@shanwazfarooqe you know what? Looking at the code I think I totally forgot about that. I'm making a PR right now. Sorry!!!

[2018-09-05 01:56] dacastro4 commented on #27
@shanwazfarooqe it should be something like:
[code]
You can access the token via `$messages->pageToken`

[2018-09-05 01:57] #23 closed

[2018-09-05 01:57] #18 closed

[2018-09-05 01:57] #15 closed

[2018-09-05 02:07] dacastro4 commented on #27
@shanwazfarooqe please check PR #28

[2018-09-05 09:37] aqib555 commented on #26
@dacastro4 Will you please help me, how can i use the refresh token?

[2018-09-05 09:39] aqib555 commented on #26
@dacastro4 One more thing when i use the getHtmlBody(), it will through and error when email is not in html. Somehow the getBody is going to null

Here is my code:

if($request->ajax()) {
            $messages = LaravelGmail::message()->take(10)->preload()->all( $pageToken = null );
            foreach ( $messages as $message ) {
                $body[] = $message->getFromEmail();

[2018-09-05 11:00] aqib555 commented on #26
![capture](https://user-images.githubusercontent.com/42779598/45089167-c06b5a00-b124-11e8-9f80-16bcd7f1fe70.PNG)

[2018-09-06 08:28] shanwazfarooqe commented on #27
I am getting error when using take() method.

Call to undefined method Dacastro4\LaravelGmail\Services\Message::take()

[2018-09-06 09:43] aqib555 commented on #26
One More thing, when my access token is expire it is not getting the refresh token.  Second is when i have two users and i want to integrate both user, it integrate both user with same gmail.json file

[2018-09-10 16:17] SGarridoDev opened #29 "I get error "Invalid token format""
First, congrats for you class!

I get an error "Invalid token format". I put the credentials json into storage/app/gmail/tokens/gmail-json.json with this format:

``
{
  "installed": {
    "client_id": "xxxxx",
    "project_id": "xxxxx",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://www.googleapis.com/oauth2/v3/token",
    "auth_provider_x509_cert_url": "ht

[2018-09-17 01:01] dacastro4 commented on #27
Hey, @shanwazfarooqe can you send me the code that you're using?

[2018-09-17 01:03] shanwazfarooqe commented on #27
Ok
I will send

On Mon, Sep 17, 2018, 6:31 AM Daniel Castro <notifications@github.com>
wrote:

[2018-09-18 08:58] buckfuddey opened #30 "getBody on null"
I found great use of your package however the function getBodyPart() in the file Services/Messages/mail.php line 350 has the option to return null to a function which later calls getBody() on the returned value. And if you call getBody on null it throws a fatal error.

I found that only messages from icloud causes this problem since gmail's own library sets the body (plaintext) in the payload obje

[2018-09-20 07:52] buckfuddey commented on #30
After a few hours spent building my own solution to icloud mails I have found additional issues that you might want to look into considering this is a work in progress. If linebreaks are included in a mail sent from icloud they are split into one part per linebreak. So if I was to write the following.
Hi
My
Name
Is
Buck
That would translate into 5 separate parts that all need to be accounted for i

[2018-09-24 03:20] dvhoangfh opened #31 "Add multiple email addresses to receive messages"
Please add more mailing addresses
Ex : $mail->to(['mail1@example.com','mail2@example.com']);

[2018-09-24 03:41] #31 closed

[2018-09-25 06:28] JonahKlimack commented on #30
can I see the solution you built? I ran into this same problem...

[2018-09-25 07:07] buckfuddey commented on #30
public function hasNoParts(){
	if (empty($this->payload->getParts())) {
		return true;
	} else {
		return false;
	}
}

public function extractFromBody(){
		if ($this->hasNoParts()) {
			$type = $this->payload->getMimeType();
			$body = $this->payload->getBody();
			if ($type == 'text/html' || $type == 'text/plain') {
				$this->bodyArr[$type] = $this->getDecodedBody($body->getData());
			}
			if (

[2018-09-25 07:09] buckfuddey commented on #30
New to github, don't know why the supplied code spazzes out half way...

[2018-09-25 07:33] JonahKlimack commented on #30
use 3 backtics  ```  and end with ```

[2018-09-25 07:34] JonahKlimack commented on #30
by the way, thank you very much, I really need to get this done tonight, and this was in the way

[2018-09-25 07:34] buckfuddey commented on #30
No worries, there's way to little info on the google API for PHP anyway.

[2018-09-25 07:42] JonahKlimack commented on #30
I mean, thanks. There's no errors, but they're all null

Am I using this right? Call extractfrombody?  when looping through messages? Looking over it...

[2018-09-25 07:49] buckfuddey commented on #30
you need to have the payload as a class variable to be able to extract data on it. I set the payload from the message as such:
$message = $this->service->users_messages->get( 'me', $messageId );
$this->payload = $message->getPayload();

[2018-09-25 08:09] JonahKlimack commented on #30
in the constructor of mail.php?

[2018-09-25 08:13] JonahKlimack commented on #30
aha!  got it!  Thanks!

[2018-09-25 08:14] buckfuddey commented on #30
It's already set in the mail constructor of the dacastro4 mail.php class. As long as you instantiate the class it should work. However, I'm not sure it can be called statically like other methods. The class I made is not the same however, so you might run into issues.

[2018-10-03 21:27] carlosrivas2021 opened #33 "Error namefrom"
Excellent input, I found an error to solve, the error is when assigning the value to the nameFrom variable you placed nameTo, in the Replyable.php file

public function from( $from, $name = null )
	{
		$this->from = $from;
		$this->nameTo = $name; <---this line
		return $this;
	}

[2018-10-05 11:51] shanwazfarooqe commented on #27
`<?php

namespace App\Http\Controllers;

use Dacastro4\LaravelGmail\Facade\LaravelGmail;
use Illuminate\Http\Request;
use Illuminate\Support\Facades\Gate;
use Illuminate\Support\Facades\Hash;
use Illuminate\Support\Facades\Mail;
use Illuminate\Support\Facades\Validator;

class GmailController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\H

[2018-10-10 02:29] dacastro4 commented on #27
@shanwazfarooqe you told me that you had an error with `take()`, I don't see the take method implemented in here.

[2018-10-10 11:04] shanwazfarooqe commented on #27
take() method works but i still couldnt get page token. So i used it directly to get pageToken().

[2018-10-15 00:27] dacastro4 commented on #27
@shanwazfarooqe did you already try what I said in this message?

[2018-10-15 01:41] shanwazfarooqe commented on #27
Yes I tried with take method and I couldn't get nextPagetoken for
pagination. So I used it directly and can aceess nextPageToken

On Mon, Oct 15, 2018, 5:57 AM Daniel Castro <notifications@github.com>
wrote:

[2018-10-28 08:04] jmatembu opened #35 "Store credentials for multiple users"
I understand that the package is still under development but I just wanted to bring out this issue. At the moment, the credentials file is used to store credentials for only one user. You would have to logout the current user from Gmail so as to get authorization from another user. It would be great to have support for multiple users having their credentials stored in different files (or perhaps s

[2018-10-30 17:56] valentim04 commented on #30
Hi, here is a simple but effective solution:

 $gmail = LaravelGmail::message()->preload()->all();

        $messages = [];
        foreach ($gmail as $key) {

            if ($key->hasNoParts() == false ){
                $body = $key->getHtmlBody();
            } else {
                $body0 = $key->payload->getBody();
                $body = $key->getDecodedBody($body0->data);
            }
}

[2018-11-06 11:53] landes01 commented on #13
how can we generate the gmail / tokens folder in storage / app / gmail / tokens
I use laravel 5.7
I did the update but nothing.

[2018-11-06 11:56] landes01 opened #36 "Whoops. I figured out where you've configured the directory to store this."
For future reference, defaults to storage/app/gmail/tokens

_Originally posted by @rsmith87 in https://github.com/dacastro4/laravel-gmail/issues/13#issuecomment-387690069_

[2018-11-06 11:56] landes01 commented on #36
how can we generate the gmail / tokens folder in storage / app / gmail / tokens
I use laravel 5.7
I did the update but nothing.

[2018-11-08 02:43] Sokolfx opened #37 "Return subject without preload?"
Hi, there is such a issue.

How to return getSubject() without using preload(), load() ? (loading takes a very looong time with them)

For ex:

Return: $message = LaravelGmail::message()->take(100)->in('inbox')->all();

How to use {{  $message->getSubject() }} Or how to return getheaders() in the main query?

[2018-11-10 16:03] dacastro4 commented on #37
@Sokolfx  when you try to get the subject it has to load the content and I have to get it first.

In your example your getting a collection of messages so you should loop through the messages and do `{{ $message->getSubject() }}`

[2018-11-10 16:06] #30 closed

[2018-11-10 16:10] dacastro4 commented on #35
@jmatembu Sorry, I've been really busy but I agree with your idea, sounds really good.
I'm going to try to work in your idea soon but feel free to create a pull request if you have a working code.

[2018-11-10 16:13] dacastro4 commented on #29
Hey @SGarridoDev, I think the service file has a different structure and no I don't think it works with those files

[2018-11-10 16:15] dacastro4 commented on #27
I'm really sorry @shanwazfarooqe, I've been busy. Did you figure it out? if you haven't, let me know so I can keep the issue open and help you.

[2018-11-10 16:15] #27 closed

[2018-11-10 16:18] dacastro4 commented on #36
@landes01  What do you mean with generate? When the user accepts the app permission it should create the file in that path.

[2018-11-14 21:33] Artanty opened #39 "InvalidArgumentException in Client.php line 433: Invalid token format"
Hello! Help me pls!
1) Can't understand how to modify the config file config/gmail.php.
What to do inside of it?
project id,client id,client secret and redirect I set in .env file.
Is it necessary to do something with this string ↓  ?
'credentials_file_name' => env( 'GOOGLE_CREDENTIALS_NAME', 'gmail-json' ),

2) I downloaded .json credentials file from google console, pasted it to:
"[my project]/s

[2018-11-14 21:49] Artanty commented on #39
After that I go to index page where I inserted:

<h1>{{ LaravelGmail::user() }}</h1>
                  @if(LaravelGmail::check())
                      <a href="{{ url('oauth/gmail/logout') }}">logout</a>
                  @else
                      <a href="{{ url('oauth/gmail') }}">login</a>
                  @endif

and get "Invalid token format" until I delete this check

[2018-11-15 00:12] Sokolfx commented on #37
@dacastro4 But can we take only headers, without preload/load?

I don't understand what you mean.
After $message = LaravelGmail::message()->take(100)->in('inbox')->all();
I use:
foreach($message as $messages) {
{{ $message->getSubject() }} // but without preload we haven't headers and can't use it
 }

*using with {{ $message->load()->getSubject() }} it's sure longer than preload when takes all mes

[2018-11-15 15:31] dacastro4 commented on #37
@Sokolfx this is what you get when you request a list of emails https://developers.google.com/gmail/api/v1/reference/users/messages/list and this when you get the email item https://developers.google.com/gmail/api/v1/reference/users/messages/get#examples.
When you get the list, it doesn't come with headers so I have to load it to get even the title

[2018-11-15 16:25] Sokolfx commented on #37
@dacastro4 Ok. I inderstand what you mean. So what the way to return 10-50-100, >100 messages in few seconds? I tried with a couple of options. And with headers it's around 10-12 seconds for 10 messages.
Maybe I do something wrong, or is there another way out to return many messages with getSubject in 1-2 seconds?
Have you encountered a similar problem?

[2018-11-20 17:18] fajarainul commented on #39
did you found any solution?

[2018-11-20 17:48] Artanty commented on #39
no, please help me!

[2018-11-21 17:17] Sokolfx commented on #37
Ok, got it. Decided by Batching Request.

[2018-11-22 17:48] pqrs commented on #39
@Artanty, @fajarainul, any news? I'm stuck here too.

[2018-11-23 06:08] Artanty commented on #39
No, i tried another library and wrapper for connect to gmail via api, but nothing.
Although gCalendar api and socialite with Google auth work fine.

[2018-11-24 16:31] dacastro4 commented on #37
@Sokolfx I haven't encountered a similar problem. The app that I have runs in the background checking for the emails so it doesn't matter. I know it takes a little bit to get the information but that is how the gmail api works ): sorry. Hopefully batching your request at least helps you with the time.

[2018-11-24 16:31] #37 closed

[2018-11-24 16:55] #24 closed

[2018-11-24 19:51] dacastro4 commented on #39
I'm really glad to hear that @Artanty

[2018-11-24 19:57] Artanty commented on #39
We don't need to download .json file and put it into  storage/app/gmail/tokens.
This file is creating automatically on callback function "LaravelGmail::makeToken();"
delete it if you put it into storage/app/gmail/tokens.

[2018-11-24 19:58] #39 closed

[2018-11-26 06:15] usamasarfraz143 commented on #14
Call to undefined method Illuminate\Support\Facades\Mail::to() (View: C:\xampp\htdocs\mygoogleapi\resources\views\welcome.blade.php)

[2018-11-26 06:16] usamasarfraz143 commented on #14
using this classmail class
 Call to undefined method Illuminate\Support\Facades\Mail::to() (View: C:\xampp\htdocs\mygoogleapi\resources\views\welcome.blade.php)

[2018-11-26 06:23] usamasarfraz143 opened #40 "i haves a error in email sending in laravel"
$mail = new Mail();
$mail->to($data['to'])->from('us****@piecyfer.com')->subject('text')->message('this is trhe testing email')->send();

when i use to this code i wall received this kindly guide me about how to send email ;
Call to undefined method Illuminate\Support\Facades\Mail::to() (View: C:\xampp\htdocs\mygoogleapi\resources\views\welcome.blade.php)

[2018-11-26 07:48] #40 closed

[2018-11-26 10:53] pqrs commented on #39
Thanks @dacastro4 but I must be doing something wrong. I don't know if it is in the config or in the Google console. Is there any step by step tutorial or any working example somewhere I can look at?

[2018-11-27 02:53] dacastro4 commented on #39
@pqrs what kind of error are you getting?

[2018-11-27 02:53] dacastro4 commented on #40
@usamasarfraz143 did you figure it out?

[2018-11-27 02:54] dacastro4 commented on #14
@usamasarfraz143 can you show me your code, please?

[2018-11-27 12:42] usamasarfraz143 commented on #14
@dacastro4  thanx i figure it out

[2018-11-27 12:43] usamasarfraz143 commented on #40
yes yes

[2018-11-27 19:33] pqrs commented on #39
No credentials found.

[2018-11-27 20:15] pqrs commented on #39
Solved! It works now... nothing like restart from the beginning! :)

[2018-12-19 07:12] keyurgwebplanex commented on #15
Hello,
How to refresh token?

[2018-12-19 22:25] pappleweb opened #41 "Class laravelgmail does not exist"
Hi,

I want to configure your LaravelGmail, but I have this message on my Laravel 5.4.36 : "Class laravelgmail does not exist"

I use PHP 7.1 and your LaravelGmail in 0.4 and 0.6, the problem is the same.

I have been in my config/app.php :
       ` Dacastro4\LaravelGmail\LaravelGmailServiceProvider::class,` (provider)
       `'LaravelGmail' => Dacastro4\LaravelGmail\Facade\LaravelGmail::class,`(a

[2018-12-20 01:49] dacastro4 commented on #41
Hey @pappleweb,

I just tried adding `"dacastro4/laravel-gmail": "^0.6"` to a new Laravel project and copied and pasted it what you sent me and it works fine.

I put this on the web.php and it worked fine.
[code]

[2018-12-20 09:44] pappleweb commented on #41
Hi !
Thanks you, On my second computer, the module works. I think that the problem is in the configuration app on my first computer.

Else, I have a new question, I post it on a new issue :).
Thanks you.

[2018-12-20 09:49] pappleweb opened #42 "Is it possible to connect automatically at the email address without user logging in ?"
Hi,

I want that the connection to GMAIL at the email address (example : ticketingsupport@gmail.com) to be automatic without the user having to login ?

This email address is a common address and we have more users of the application who reply at a mail.

In fact, I want to create a ticketing application connected at GMAIL. Your program help me to receive any messages in the lavaral application.

[2018-12-20 14:01] dacastro4 commented on #41
Awesome. I'm going to close this one.

[2018-12-20 14:01] #41 closed

[2018-12-20 14:04] dacastro4 commented on #42
I have something similar to the app that you're building. I have a single account where I receive a bunch of emails that I process every 15 mins, with that said, I never found a way with the google keys/JSON files but what I did was create a "Settings" page where I logged in with that email and never change it again because the token refreshes itself.

[2019-01-13 16:54] dmitrymalys opened #45 "Get whole thread."
Hello, is there a way to get the whole thread, by thread id?

[2019-01-15 12:56] nunomsh commented on #30
This solution wont work if the body as "deeper parts", and you wont get attachments if the body is null.
One possible solution is to get the payload and parts

In your controller:
[code]
In the function you want to get the emails. In my case I want to get all the emails and attachments and store then, but for this example just the general idea

`$messages = LaravelGmail::message()->in('INBOX')->un

[2019-01-15 13:38] dacastro4 commented on #45
@dmitrymalys is that a filter on gmail?

[2019-01-23 06:16] abhiburk opened #46 "How Do I draft an Email"
Hey I couldn't find the option for drafting the gmail message. Could you please guide me through this.

[2019-01-24 18:13] abhiburk opened #47 "How Do I use Attachment Class ?"
Hey I am implementing Gmail using your package but their is not much info added in this pack document. So at this point I am stuch on Attachment class it would be great if you add more info about how to use that class as I want to download attachment of an email.

[2019-01-25 14:50] jmatembu commented on #47
@abhiburk

The documentation shows you the methods you need to get attachments from an email. Here is some code example assuming you have already retrieved your emails and looping from each to get attachments.

[code]

The methods availed to you by the package that I have used in the code above are: `hasAttachments()`, `getAttachments()`, `saveAttachmentTo($path, $filename, $disk)`

[2019-01-25 16:35] abhiburk commented on #47
Okay the one which you share is extremely easy and I gonna replace it with mine one. How I did was
[code]

My Bad :-P

By the way thank you this package is very helpful.

[2019-01-26 14:48] sahakavatar commented on #14
Hey @dacastro4 .
How can I get email id after send email
 $mail = LaravelGmail::message()->to($data['to'])->from('someting@foo.com')->subject($subject)->message($texteditor)->send();
$mail->getId()  return null
https://www.screencast.com/t/NqH6xpZC

[2019-01-26 15:17] sahakavatar opened #48 "How get id after send email?"
Hey @dacastro4 .
How can I get email id after send email
$mail =new Mail()->to($data['to'])->from('someting@foo.com')->subject($subject)->message($texteditor)->send();
$mail->getId() return null
https://www.screencast.com/t/NqH6xpZC

[2019-01-26 16:12] sahakavatar opened #49 "Send email using same email address for (from and to)"
https://www.screencast.com/t/gCl4UKhA8

[2019-01-26 17:03] pradeeptry commented on #35
i am getting error
public function message()
    {
        if ( ! $this->getToken() ) {
            throw new AuthException( 'No credentials found.' );
        }
 help me !!!!!!!!!!
![screenshot capture - 2019-01-26 - 22-31-20](https://user-images.githubusercontent.com/30953021/51790375-6003b480-21ba-11e9-9f5c-b1aa5bbd7437.png)

[2019-01-28 04:58] abhiburk commented on #27
I tried using the above mentioned code but i get error

`Method Illuminate\Support\Collection::next does not exist.`

[code]

Also I could get token `$messages->pageToken();`

[2019-01-29 14:11] dacastro4 commented on #49
@sahakavatar can you explain more, please? That doesn't tell me anything

[2019-01-29 14:12] dacastro4 commented on #48
@sahakavatar let me check this out

[2019-01-29 14:13] dacastro4 commented on #47
@jmatembu thanks for the help!
@abhiburk I'm glad that you find it helpful.

[2019-01-29 14:13] #47 closed

[2019-01-29 14:16] dacastro4 commented on #35
@pradeeptry that's not related to this issue. Please open a new issue.

[2019-01-29 14:17] abhiburk commented on #47
Yes it helped me.
Also I wanted to let you know you can add search function in Message class as their is only in: option available in it. I added it in my code. Hope this helps you.

[2019-02-01 06:06] tibinmathew007 commented on #14
@usamasarfraz143 how you fixed it?

[2019-02-04 08:43] #29 closed

[2019-02-04 08:44] SGarridoDev commented on #29
@dacastro4 That's right, I've worked it out.

[2019-02-08 07:14] bhavdip111 commented on #27
Awesome!

[2019-02-13 17:08] phppirate commented on #35
Store credentials for multiple users...
I also need this functionality. I could create a PR but it would definitely be a breaking change - If you do not mind this let me know otherwise I will just fork the project

[2019-02-13 17:15] dacastro4 commented on #35
For breaking changes, we would have to create a new version so we don't break other developer's apps

[2019-02-13 17:16] phppirate commented on #35
Right. Are you open to that for just this one feature?

[2019-02-14 20:40] SergioAraya commented on #35
yes

El mié., 13 feb. 2019 a las 11:16, Sam Podlogar (<notifications@github.com>)
escribió:

[2019-02-14 20:48] phppirate commented on #35
Unfortunaltly I will not be able to contribute a PR. I hope this gets added but do not have the time to do it myself.

[2019-02-15 05:57] sicaboy commented on #9
This project is not for CLI use.

[2019-02-26 13:50] drolean opened #50 "error "Metadata scope does not support 'q' parameter""
on this line
`$messages = LaravelGmail::message()->unread()->preload()->all()->take(50);`

`{ "error": { "errors": [ { "domain": "global", "reason": "forbidden", "message": "Metadata scope does not support 'q' parameter" } ], "code": 403, "message": "Metadata scope does not support 'q' parameter" } }`

[2019-02-26 14:11] dacastro4 commented on #50
Hey @drolean. What do you have in the gmail config file?

[2019-02-26 14:18] drolean commented on #50
[code]

[2019-02-26 14:20] dacastro4 commented on #50
Did you use `setAdditionalScopes` to set any additional scopes?

[2019-02-26 14:20] dacastro4 commented on #50
Oh, I'm sorry. It says it right there.
Remove 'metadata' scope and it should work.

[2019-02-26 14:30] drolean commented on #50
tnks for the quick help.

[2019-02-26 14:30] #50 closed

[2019-02-26 19:56] gmarciano opened #51 "Filter e-mails by date"
Hey, how are you?

Is there a way to filter the e-mails by date like gmail allows you to? (after:, before:, older_than:, etc.).
I had a quick look at your code and I didn't saw it.

[2019-02-26 20:13] gmarciano commented on #51
Actually, what do you think about adding a pure gmail query function, like:
[code]
And the usage would be like:
[code]
<br>
I think you already had thought about doing something like that and it didn't work, that's why I ask. But anyway, hope you like the idea! :smile:

###### I'm up to do the changes, just want the background about the changes so that I don't make a rework that may not be effecti

[2019-02-28 20:36] gmarciano commented on #51
See if you think these are relevantes changes

[code]

[2019-03-12 05:50] shashankj99 opened #52 "How can i get message id?"

[2019-03-12 06:57] shashankj99 commented on #14
@dacastro4 hey I couldn't figure it out... need help it's urgent i'm approaching my project deadline

[2019-03-12 07:53] jmatembu commented on #14
@shashankj99, there is already an example of how to send an email in this same issue. See @dacastro4's reply above. If you have tried the same and still not working, you may have to show some pieces of your code.

[2019-03-12 11:58] dacastro4 commented on #52
Once you have the individual email, call `getId`.
https://github.com/dacastro4/laravel-gmail/blob/master/readme.md#mail

[2019-03-12 21:42] stacybot123 opened #53 "How to set state variable"
Hi,

How do I set state variable on client.

[2019-03-12 21:57] dacastro4 commented on #53
@stacybot123 can you elaborate more please

[2019-03-13 08:34] stacybot123 commented on #53
The state variable can be used to send a custom value with with the OAuth request. For example : if every user on the app have their custom subdomain (wildcard subdomain) it is impossible to add each of them on the google app, or to disable cross site forgery. So google can pass the state with the request and identify the user and redirect back to the correct resource.
If I use the google client d

[2019-03-13 13:06] dacastro4 commented on #53
@stacybot123 I check the code and I don't have the state as a variable that can be set.

[2019-03-13 13:17] dacastro4 commented on #51
@gmarciano amazing idea. Adding it now. (Sorry for the late response)

[2019-03-13 13:18] #49 closed

[2019-03-13 14:14] #51 closed

[2019-03-13 14:39] dacastro4 commented on #48
Sorry @sahakavatar I've been busy. I was returning a new message instance of adding the properties to the existing Mail instance.

[2019-03-13 16:09] #52 closed

[2019-03-13 16:10] dacastro4 commented on #48
Solved in #57

[2019-03-13 16:10] #48 closed

[2019-03-15 08:18] sahakavatar commented on #48
thanks :)

[2019-03-17 05:55] shashankj99 opened #58 "Mail Fetching is too slow. How can I solve it?"

[2019-03-23 18:29] dacastro4 commented on #58
@shashankj99 Google SDK doesn't provide a way to do this faster, I made the function mostly to use on a background process. Sorry

[2019-03-23 18:29] #58 closed

[2019-03-23 18:29] #53 closed

[2019-03-23 18:29] #42 closed

[2019-03-23 18:29] #45 closed

[2019-03-23 18:30] #26 closed

[2019-03-29 11:26] kenanduman1988 commented on #35
@dacastro4 please review, PR #59 created.

[2019-04-15 04:37] abhiburk opened #60 "Batch Request ?"
Using this package I am able to do What I want but while fetching gmail messages it takes lot of time to get those emails so I found out that we get message id and then using this id we have to get particular message. The reason I understood is we are making multiple call for every email and thats the reason getting emails takes lot of time. Now how do I do it using Batch Request ?

[2019-04-17 15:16] jesephan commented on #35
@dacastro4 kindly review my PR #61 that i submitted that will solve this issue. Thanks

[2019-04-18 14:31] dacastro4 commented on #35
It's now possible with version `v1.0.0` thanks to @jesephan #61

[2019-04-18 14:31] #35 closed

[2019-04-18 14:32] dacastro4 commented on #60
@abhiburk Check google documentation to see if they have a batch request, I'm not sure

[2019-04-18 15:11] dacastro4 commented on #60
@abhiburk https://developers.google.com/gmail/api/guides/batch they are deprecating this feature :(

[2019-04-18 15:22] abhiburk commented on #60
What is the alternative for this then ?

On Thu, 18 Apr 2019, 8:41 pm Daniel Castro <notifications@github.com wrote:

[2019-04-23 18:18] matthewhutchings opened #62 "Unable to get Mime Type"
When using $attachment->getMimeType() :

Dacastro4\LaravelGmail\Services\Message\Attachment::$getMimeType

[2019-04-23 18:36] matthewhutchings commented on #62
#63

[2019-04-24 13:56] aspaeth opened #64 "Attachment Filename"
Hi there and thank you for this wrapper.
Is there a way to set the shown filename for a file i attach to a new email?

[2019-04-24 14:18] dacastro4 commented on #64
Hey @aspaeth, I think you have to change the name of the file and then attach it. Doesn't look like it's possible from the Google API reference

[2019-04-24 14:22] dacastro4 commented on #62
#63 merged

[2019-04-24 14:22] #62 closed

[2019-04-24 21:06] nasatome opened #66 "A better implementation for additional scopes"
For example, I need to add a scope of Google Drive to not implement a double login with Laravel Socialite (which is the current solution I have).

How can I add scopes: "https://www.googleapis.com/auth/drive" ?
without me returning null? the code Line 134 "return array_get( $scopes, $scope );"

https://github.com/dacastro4/laravel-gmail/pull/43
As it is not in the documentation: I can not use this

[2019-04-24 22:07] nasatome commented on #66
https://github.com/dacastro4/laravel-gmail/commit/fad99c87fed88ad19bdcbee9e1d55c84caa1ee7c

Please, check these commits :)

I hope they help the community, as they are helping me.

[2019-04-30 05:42] mcgregorjamie opened #67 "Can't login with multiple users?"
I have tried setting `GOOGLE_ALLOW_MULTITPLE_CREDENTIALS=true` in the env file (and refreshing config cache) as well as hardcoding `'allow_multiple_credentials' => true` in config/gmail.php.

But when I login as a User A in one browser, then log in as User B in a different browser, I can only see the data for User A. If I take a look at `storage/app/gmail/tokens/` there's only one gmail-json file

[2019-04-30 14:25] dacastro4 commented on #67
@mcgregorjamie Can you tell me if the file is named `gmail-json-`?

[2019-04-30 14:32] mcgregorjamie commented on #67
Yes the file is `gmail-json.json`

[2019-04-30 18:26] nasatome opened #68 "Problem with Login Multiple Users Name"
Probably this related to #67

![error1-laravel-gmail-2019-04-30_13-17](https://user-images.githubusercontent.com/18271791/56984232-2b9dec80-6b4b-11e9-84a5-a267104684ea.png)
![error2-laravel-gmail-2019-04-30_13-17](https://user-images.githubusercontent.com/18271791/56984233-2b9dec80-6b4b-11e9-8fc6-a6054bc5662e.png)
![error3-laravel-gmail-2019-04-30_13-17](https://user-images.githubusercontent.com/1

[2019-04-30 18:29] nasatome commented on #68
Ready, I made a commit, I'm going to try it ... and in a moment I report results.

[2019-04-30 18:38] dacastro4 commented on #68
@nasatome wow.. makes total sense. How did I miss that? Thank you so much.

So basically we need to replace
[code]
for
[code]
Because we are handling the name and multi credentials thing inside `getFileName`

[2019-04-30 18:39] nasatome commented on #68
It's correct ... let's test it ... and I'll make you a PR
To take care of the quality of this excellent piece of software that you have made.

[2019-04-30 18:42] dacastro4 commented on #68
@nasatome Sorry and thank you for that, I really appreciate it.

[2019-04-30 18:48] nasatome commented on #68
ups, I included all the previous PRs thinking that they were already in master, could you do merge to master?

[2019-04-30 18:56] #68 closed

[2019-04-30 18:59] dacastro4 commented on #67
Hopefully, thanks to @nasatome, this issue is solved.

[2019-04-30 19:00] #66 closed

[2019-04-30 19:00] #36 closed

[2019-04-30 21:45] nasatome opened #70 "[Question] What settings of Code Fixer/Style do you use?"
I use PHPStorm in my project, but I see that we have different code style settings, so I have not indented the code

For example, normally in laravel projects I do not use tabs, I replace them with spaces, but the readme.md has tabs

![Screenshot from 2019-04-30 16-17-24](https://user-images.githubusercontent.com/18271791/56994208-0a95c580-6b64-11e9-8cda-db9287ff65e8.png)

I think I'll be uploadin

[2019-05-01 05:59] mcgregorjamie commented on #67
@dacastro4 Still having the same issue unfortunately :(

[2019-05-01 13:50] dacastro4 commented on #70
@nasatome I use my default configuration for all my project but you're right about something, this is an open source project and I should use something more standard so people can easily make PR's without any problems. I might change this project to be that preset styles from your SS, the Laravel one. Thank you so all this information and links

[2019-05-01 13:56] dacastro4 commented on #67
@mcgregorjamie
1) did you log in before changing `allow_multiple_credentials ` to true? if so, try to removing the file and trying it again.
2) Is the route where you have all the user information inside of a group with the `auth` middleware?

[2019-05-01 14:32] mcgregorjamie commented on #67
1. I've tried removing the file but the same thing happens.
2. Sorry, not sure I understand. Which route needs to be inside a group with the `auth` middleware? I followed the readme.md so my routes look like this:

`Route::get('/oauth/gmail', function (){
    return LaravelGmail::redirect();
});

Route::get('/oauth/gmail/callback', function (){
    LaravelGmail::makeToken();
    return redirect()-

[2019-05-01 14:40] dacastro4 commented on #67
@mcgregorjamie that may be the problem. Enclose that code inside

[code]

[2019-05-01 15:06] mcgregorjamie commented on #67
That has fixed it, thank you so much for all of your help!

[2019-05-01 15:06] #67 closed

[2019-05-01 15:16] dacastro4 commented on #67
@mcgregorjamie  No problem!

[2019-05-01 19:15] nasatome commented on #67
Sorry to open this problem again, but I think we should put in the documentation that to use multiple users, the user should be logged in with laravel previously (since the user's id is used to save the json)

I was thinking of some method of using multiple users without needing the user ID (which is standard and repeatable) but I can not think of any at this time, and in the current state of lara

[2019-05-01 20:02] #70 closed

[2019-05-02 23:53] nasatome opened #71 "If my token expired, it does not refresh automatically"
Probably related #15

The token never refreshes, apparently in the file
src/GmailConnection.php#38
The "if"  never enter.

I will see how I can solve it.

[2019-05-02 23:59] nasatome commented on #71
at "__construct" line#38 the function "check"
on line 88 send a call to "isAccessTokenExpired"
that sends to call the "parent" that returns:
[code]
the function "refreshTokenIfNeeded" The first thing he calls to call is:  "isAccessTokenExpired"

therefore the constructor's action is redundant

I'll try this theory and if I'm right, I'll send you a PR

[2019-05-07 13:43] dacastro4 commented on #71
Sorry for the delay @nasatome and thanks for taking care of this issue. What seems weird is that I have an app in production using this and I have never had this problem (token not refreshing). Let me know how I can help

[2019-05-07 15:33] nasatome commented on #71
then most likely in the current version 1.0.5 under certain conditions that refresh may not be working.

Are you using multiple users in that production application?

[2019-05-07 18:14] nasatome commented on #71
https://github.com/nasatome/laravel-gmail/commit/743ed9348ea42551db8cb2a9aa8a00583b3416be
It allows you to do things like:
[code]

[2019-05-08 00:30] nasatome commented on #71
by the way, the reason you notice why this happened is because:
https://developers.google.com/identity/protocols/OAuth2#expiration

[code]

this leads me to the conclusion that as I am asking (live) too many tokens I exceed the maximum allowed by google, apparently 50, When I send an email, the credentials are also sent,  I guess that's a live token.

[code]

I just tried version 1.0.5 and tokens

[2019-05-13 07:39] shashankj99 commented on #58
Thank you for your response sir but i managed to do it with javaScript

On Sun, Mar 24, 2019 at 12:14 AM Daniel Castro <notifications@github.com>
wrote:

[2019-05-13 14:31] #71 closed

[2019-05-13 14:40] dacastro4 commented on #58
@shashankj99 Did you find a method to get them in a batch request?

[2019-05-14 07:46] Luqman6666 opened #73 "when I grant permissions , it does not logged me in"
I have created same template as you described, when I click on login , gmail asks me to allow permissions, after I grant all permissions, it redirects me to an invalid url and does not log me in.

[2019-05-14 11:58] dacastro4 commented on #73
You should be able to change the redirect URL from the Google Console and
check that matches with one of your routes

On Tue, May 14, 2019, 3:46 AM Luqman6666 <notifications@github.com> wrote:

[2019-05-15 00:19] nasatome commented on #73
In Google Console: Client ID for Web application

[code]

.env:
`GOOGLE_REDIRECT_URI=https://yourdomain.com/oauth/gmail/callback`

web.php // routes file
[code]

then:

[code]
@Luqman6666

[2019-05-15 01:53] dacastro4 commented on #73
Are you doing this locally?

[2019-05-15 12:36] Luqman6666 commented on #73
Yes,  I am doing on Local host.  Is it possible on Local host? Can someone
describes all the steps to access my unread emails  using this package  ?

On Wed, 15 May 2019, 06:53 Daniel Castro, <notifications@github.com> wrote:

[2019-05-15 12:43] igorhmelevskoy opened #74 "Manual input of json file name"
Great solution, thanks.
Is it possible to somehow transfer the name of the json file when calling LaravelGmail :: without recourse to authorization?
To be able to work with several confirmed accounts simultaneously, from one laravel account.

[2019-05-15 13:03] nasatome commented on #74
I think the ideal thing would be to save the file with the name of the email

[2019-05-15 13:11] igorhmelevskoy commented on #74
Yes, I thought this way. But the user can have 3 mails for example and he can switch in it without leaving the Laravel. And depending on which one he chooses, you need to select this json file, but I cannot figure out how to transfer the meningor so that the function selects the name transferred to it from outside and then it works with the token from the file.

[2019-05-15 15:06] Luqman6666 commented on #73
yes, doing on Local host. Dacastro, please provide a few step explanation so that I can resolve my problem.  It would be great if you can provide clear example for each step required to fetch my emails in My Laravel app

[2019-05-15 15:14] nasatome commented on #74
It's just an idea in the air ...
I still can not find the solution to remove the Laravel account ID, but it occurs to me, save the Laravel ID, concatenated the person's email to the name, and then send the email through a function that reads the json file for example `setEmail($email)`, and then use `setToken($token)`
[code]
but I can not get it mentally functional

[2019-05-15 15:20] nasatome commented on #73
@Luqman6666  check out https://ngrok.com/

[2019-05-15 15:26] Luqman6666 commented on #73
1: when I call localhost:8000/oauth/gmail , gmail asks me to select your account, I select one gmail account. then it asks for permission , I grant all permissions, when I grant permission , it redirects me to
the following URL
http://localhost:8000/urn:ietf:wg:oauth:2.0:oob,http://localhost:8000?code=4/SgGzKjA__cOaOKvesCdJRJHFE4fzg238vk-3kQCIglXou9RTGsxoJk0WHxMJz-yQOfXgvLFnOIhnb72EbTePpOc&scope=h

[2019-05-16 05:47] igorhmelevskoy commented on #74
I tend to, to specify the file name (for example, user email) when you first call the shell, for example
`$gmailSt = new LaravelGmail ('mail@gmail.com.json');`
and then continue to work with `$gmailSt`

[2019-05-16 17:30] martinschenk opened #75 "sometimes data is in payload->body->data and part doesn't exist."
Sometimes data (the email text)  is in payload->body->data and part doesn't exist.
In this case when calling $message->getHtmlBody() it is empty, because i think Mail.php is expecting data to be always in payload->parts[]->body->data

So if i add to Mail.php in function getBody on line 383

    }elseif($this->payload->body->data){
        return $this->payload->body->data;
    }

it works.
May be

[2019-05-17 05:25] Luqman6666 commented on #73
@dacastro4    Issue has been resolved on Live server. I had to define correct url's in Google console and redirect_urls.

[2019-05-17 05:26] #73 closed

[2019-05-17 07:06] Luqman6666 opened #76 "Gmail returning null Values for email related fields"
$messages = LaravelGmail::message()->take(1)->all( $pageToken = null );
dd($messages);
in requested scopes, it is returning follwing three:
 #requestedScopes: array:3 [▼
        0 => "https://www.googleapis.com/auth/gmail.readonly"
        1 => "https://www.googleapis.com/auth/gmail.modify"
        2 => "https://www.googleapis.com/auth/gmail.metadata"
      ]
it is returning null values for email

[2019-05-17 14:47] martinschenk commented on #76
$messages = LaravelGmail::message()->take(1)->preload()->all( $pageToken = null );
shows you with dd a Mail id like f.e. '16ac632c5xxxxxx'
Now call
    $message = LaravelGmail::message()->get( '16ac632c5xxxxxx' );
    dump($message->getSubject());
    dump($message->getFromName());
    dump($message->getHtmlBody());
and so on...

[2019-05-17 21:07] nasatome commented on #74
I'm interested in implementing what you mention, this is just a personal note: so that later I can receive other initialization values ​​in addition to the email.

$gmailSt = new LaravelGmail (['email' => 'mail@gmail.com.json']);

[2019-05-20 04:56] Luqman6666 commented on #76
@martinschenk   dear, Now receiving this error

[2019-05-20 07:01] Luqman6666 commented on #76
@dacastro4     can anyone guide, why I am receiving this ? when I log in , Gmail asks me for permissions, I grant all permissions , read, write, view and delete email messages ? then why I am receiving 403 code ("forbidden error").  Infact I want to get list of emails of all senders , then I want to match the senders with a databse table called clients, if email of any sender matches with the data

[2019-05-20 11:24] igorhmelevskoy commented on #74
Redid a little and everything works as I wanted)
I fix that changed, it is possible to be useful for the subsequent implementation and improvement of the module.
file: /vendor/dacastro4/laravel-gmail/src/Services/Message/Mail.php
![1557827806329](https://user-images.githubusercontent.com/19838481/58017466-f9a7f680-7b08-11e9-9b09-ab509f6358bc.png)
file: /vendor/dacastro4/laravel-gmail/src/GmailConn

[2019-05-21 05:36] #74 closed

[2019-05-21 05:37] igorhmelevskoy commented on #74
Во всем разобрался )

[2019-05-21 05:41] igorhmelevskoy opened #77 "Sending large files"
Tell me how to send large files larger than 5 MB?
Here is my mistake
![1558417263816](https://user-images.githubusercontent.com/19838481/58071123-35dc6500-7ba4-11e9-9f89-c0cd6dee9b59.png)
In the documentation I found that I need to send as uploadType = resumable
Please tell me how this can be done?

[2019-05-21 05:58] avinash403 opened #78 "Doesn't work with custom storage root path"
When storage root path in filesystem.php is changed to some custom path, it doesn't work.
It uses Storage facade to check if token file path exists in the system in GmailConnection.php.
But in Configurable.php, it directly uses storage_path. In case of custom path, both will not be same.

Check the screenshots below:
![Screenshot 2019-05-21 at 11 24 40 AM](https://user-images.githubusercontent.com

[2019-05-22 15:57] dacastro4 commented on #78
I see. you are right, I should be consistent. So you are saying to use `Storage` facade everything instead?

[2019-05-22 16:26] dacastro4 commented on #77
Try using the method `optionalParameters`, it can be called from the message and takes an array and pass `['uploadType' => 'multipart']` and let me know.

Source: https://stackoverflow.com/questions/47679102/gmail-api-php-request-entity-too-large-error-413

[2019-05-22 16:30] dacastro4 commented on #76
@Luqman6666 can you send me your scopes, they in the config/gmail.php or if you passed something in the custom during the request, those too.

[2019-05-22 16:37] dacastro4 commented on #75
thanks @martinschenk

Can you tell me what kind of email are you sending? It doesn't have parts it only has a body, that's what you are saying?

[2019-05-22 16:46] dacastro4 commented on #74
@igorhmelevskoy sorry for the delay but it looks like a good idea.
@nasatome thank you for the help

[2019-05-23 05:37] shashankj99 commented on #58
yes

On Mon, May 13, 2019 at 8:25 PM Daniel Castro <notifications@github.com>
wrote:

[2019-05-23 05:44] igorhmelevskoy commented on #77
The error remains the same, I also tried to send via Google_Http_MediaFileUpload
by this decision
https://stackoverflow.com/questions/29081343/gmail-api-php-client-library-how-do-you-send-large-attachments-using-the-php-c
but the result remains the same, files of less than 5 MB in size are sent, all that produces an error more.
Most likely the solution is cost by sending through `uploadType = resu

[2019-05-23 06:20] avinash403 commented on #78
Either of `Storage::disk('uploads')->get(...)` or `storage_path` would be fine. But it should be same everywhere. They can direct to different path in custom configuration like above.

[2019-05-23 14:04] jaythegeek commented on #76
I am getting this too, I have the standard config and scopes, nothing extra, nothing less. I am getting the Metadata scope doesn't allow format FULL and also the Metadata scope does not support 'q' parameter depending on which query I am using. Very frustrating, cannot seem to figure this out

[2019-05-23 14:17] dacastro4 commented on #76
Ok, modify your scopes to
[code]

[2019-05-23 14:17] dacastro4 commented on #76
And also you have to log out and accept the permissions again

[2019-05-23 14:34] jaythegeek commented on #76
That was it man, totally didn't think to logout, idiot move, I don't know why I didn't think of it... On another note, I am looking to expand this to sync calendar, I am working on it today so if I come up with some good stuff maybe we could chat about extending this package. :)
Thanks
J

[2019-05-24 01:45] jaythegeek commented on #42
FYI as a simple workaround for this, I have wrapped up the "collection" of messages into a Job, inside the handle() part of the job I am passing the userId in and then spoofing LaravelGmail by using ````auth()->loginUsingId($this->userId);```` this works just fine for now however ideally unhooking LaravelGmail from the Auth system in some way would be a better resolution

[2019-05-24 10:39] martinschenk commented on #75
Sorry @dacastro4 , i didn't explain me well. I will try to explain me better:

I am not sending. I am am receiving with:
    $message = LaravelGmail::message()->get( $mailId );
Your code expects to be the body of the message always in
    payload->parts[]->body->data
but sometimes, there are emails, which have the body in
    payload->body->data

Here is an example in the screenshot:
![Bildschirmf

[2019-05-24 11:47] avinash403 commented on #78
Another problem I am facing (I am sure other people will too) that path of the storage is using Storage facade to move attachments, which is not completely controllable from this package's configuration file. It would be nice to have a configuration for where it will store attachments.

Actually, both attachment and token path could have been made controllable from the configuration file.

[2019-05-24 13:54] dacastro4 commented on #78
@avinash403 it is a really good idea

[2019-05-24 13:56] dacastro4 commented on #75
@martinschenk got it. Yeah, I think adding that would hurt anything and it will make your case work just fine

[2019-05-24 13:57] #64 closed

[2019-05-24 14:00] jaythegeek opened #81 "Refresh Token not Refreshing on dev or prod"
Great work on the package! I am having a problem with the token refresh, it just doesnt seem to happen. On live or indeed on dev. It just expires after 3600. I saw there had been a fix but it is definitely not working. Any ideas?

[2019-05-24 15:53] martinschenk commented on #75
@dacastro4 tried to make pull request #82
Sorry, for the mess, its my first pull request ever.

[2019-05-24 19:02] #78 closed

[2019-05-24 19:18] dacastro4 commented on #75
@martinschenk no worries, thank you

[2019-05-24 19:18] #75 closed

[2019-05-24 19:19] dacastro4 commented on #81
@jaythegeek Which version are you using?

[2019-05-24 23:20] jaythegeek commented on #81
Installed yesterday

[2019-05-26 02:37] shashankj99 commented on #58
- put it in any directory
- then serve locally
     eg:- php -S localhost:5000 or  python -m SimpleHTTPServer 5000(python
2x) & python -m http.server 5000(python 3x)

On Thu, May 23, 2019 at 8:04 PM Daniel Castro <notifications@github.com>
wrote:

[2019-05-28 23:35] eagiraldor94 opened #83 "Problems with authentication"
Im calling LaravelGmail::redirect() when the user is logging to the app, but it seems that is not creating the token.
![image](https://user-images.githubusercontent.com/36866852/58518997-3c0bac00-8177-11e9-949e-42f3f4d69e8f.png)
![image](https://user-images.githubusercontent.com/36866852/58519007-44fc7d80-8177-11e9-8ac7-26de2cc71a1f.png)
![image](https://user-images.githubusercontent.com/36866852/

[2019-05-29 15:15] nasatome commented on #81
I am using version 1.0.6 and I have no problem, version 1.1 presents that problem?

[2019-05-29 15:18] dacastro4 commented on #81
@jaythegeek what have you tried? Did you try removing the file and login in again?

[2019-05-29 15:20] dacastro4 commented on #83
@eagiraldor94 Does the callback URL matches the one in your Google console settings?

[2019-06-05 23:57] jtwiest commented on #83
I'm having the same problem :frowning: Laravel 5.8.* and the latest version of this package.

[2019-06-06 02:45] eagiraldor94 commented on #83
the problem to me was that i called JSON "credentials.json", not "gmail-json.json"

[2019-06-06 17:57] martinschenk opened #84 "X-Attachment-Id needed for emails with embedded images"
Emails which have embedded images, use as placeholder the X-Attachment-Id which is always in the header of the attachment part.
For example:

![Bildschirmfoto 2019-06-06 um 19 45 55](https://user-images.githubusercontent.com/635827/59054369-d2d11a80-8893-11e9-9334-03c36f0c4657.png)

It would be nice to have something like:

    $xAttachmentId = $attachment->headerDetails['X-Attachment-Id'];

Becau

[2019-06-06 19:18] martinschenk commented on #84
Pull Request #85 added.

[2019-06-06 19:47] jtwiest commented on #83
Ah I got it working, I don't think I saw it anywhere in the help doc but eventually figured out I needed to create an empty file in the default locations of:

`/storage/app/gmail/tokens/gmail-json.json`

[2019-06-10 14:25] martinschenk commented on #84
It can be called like this:
$headerDetails = $attachment->headerDetails[];

[2019-06-10 17:20] dacastro4 commented on #84
@martinschenk sorry for the delay. I understand the problem, I'm going to take a look at the PR. Thank you

[2019-06-10 17:22] dacastro4 commented on #83
@jtwiest which it's weird. It should be automatically created. I'm going to add this information at the end of the readme that if you have problems logging in, create the `gmail-json.json` file.
Thank you

[2019-06-10 17:22] #83 closed

[2019-06-10 17:44] #84 closed

[2019-06-10 18:42] martinschenk opened #88 "getHtmlBody() doesn't find body, when nested parts (f.e. multipart/related)"
getHtmlBody() sometimes can't find the body and the attachments because they are deeper nested.
This happens for example if you receive an email which was created with Spark from spark mail app with inline photos.

For example the body can  be in payload->parts[1]->parts[0]->body->data.
![Bildschirmfoto 2019-06-10 um 20 36 55](https://user-images.githubusercontent.com/635827/59217999-82bdc500-8bbf

[2019-06-12 15:24] dacastro4 commented on #88
@martinschenk that's another level of complexity and a really deep body lol. I think we could try something like your workaround and check if the `collection_key` is a `parts` value and keep iterating until is not and get the body (?) maybe...

[2019-06-13 09:06] martinschenk commented on #88
@dacastro4 i will try to integrate it.
1) Iteration trough all parts of a message and  return a collection of all parts in the message.
2.) get text/html and /plain by looging for $part->mimeType
3.) getting all attachments by searching in parts collection for if(!empty($part->body->attachmentId))

[2019-06-13 10:39] sudhanshuranjanAki opened #89 "Not able to integrate the file"
{ "error": { "errors": [ { "domain": "global", "reason": "forbidden", "message": "Metadata scope doesn't allow format FULL" } ], "code": 403, "message": "Metadata scope doesn't allow format FULL" } }

when using load or preload

[2019-06-14 07:08] sudhanshuranjanAki opened #90 "403 error displaying when using preload"
{ "error": { "errors": [ { "domain": "global", "reason": "forbidden", "message": "Metadata scope doesn't allow format FULL" } ], "code": 403, "message": "Metadata scope doesn't allow format FULL" } }

![image](https://user-images.githubusercontent.com/51784534/59490029-46c97f00-8ea1-11e9-9dfe-b7800f354c5b.png)

![image](https://user-images.githubusercontent.com/51784534/59490069-5a74e580-8ea1-11e9

[2019-06-14 17:21] martinschenk commented on #88
@dacastro4 i added this to a new pull request #91

Created new trait 'HasParts' with recursive function to get all parts of a message flattened.
I have adapted the methods in Mail.php to find text and attachments independent of how deep the parts are nested.
Please check if the old methods extractFromBody and traverseData are still necesary. I think they are not used (anymore).
I have made several

[2019-06-14 19:03] martinschenk commented on #88
@dacastro4 here a small correction in getBody()

     if (!$parts->isEmpty()) {

other wise doesn't find $this->payload->body->data
Here the complete method:

        public function getBody($type = 'text/plain')
    {
        $parts = $this->getAllParts(collect([$this->payload]));
        if (!$parts->isEmpty()) {
            foreach ($parts as $part) {
                if ($part->mimeType == $typ

[2019-06-17 16:00] dacastro4 commented on #90
Did you check #83 ?

[2019-06-20 20:37] jtwiest opened #92 "Reply to a sent message that has not yet been responded to"
I'm trying to figure out how to reply to messages that has not yet been responded to, the use case is sending a follow-up email a few days after the original one went out.

At the most basic level I'd expect the following to work
[code]
However I'm getting a `Recipient Address Requred` error which I can fix by adding `->to('someemail')` before the `reply()`

Question 1: I'm confused why I need to

[2019-06-20 21:06] jtwiest commented on #92
Of course, I figure it out a few minutes after I ask the question. The answer was to set the 'In-Reply-To' header and the 'References' header manually before you send the original email.

[code]

I did however still need to also supply the `->to()` param when sending the email which in an ideal world should be auto supplied in my mind but that's a very solvable solution as it stands.

[2019-06-23 00:04] dacastro4 commented on #92
@jtwiest sorry for the delay. Cool that you were able to figure it out and you're correct about the reply and supplying the `->to()`, I'm going to look into that. Thank you

[2019-06-23 00:05] #89 closed

[2019-06-25 15:40] jtwiest commented on #92
I'm working on an app that needs to ability to send emails using a cronjob so I'm in the midst of a fork that'll allow you to authenticate users on a request by request basis. Basically taking the mutlipleusercredentails flag a few more steps. I'll post a link to my fork here once I get this updated but I do have it working.

[2019-06-25 15:53] jtwiest commented on #92
@dacastro4 Here's the PR for the dynamic auth feature, I still got a ways to go on the project I'm working on so chances are there will be some more changes but wanted to put in on your radar: https://github.com/dacastro4/laravel-gmail/pull/93

[2019-06-25 17:59] #76 closed

[2019-06-26 13:57] dacastro4 commented on #88
fixed in #87

[2019-06-26 13:57] #88 closed

[2019-06-26 13:57] dacastro4 commented on #60
fixed in #87

[2019-06-26 13:57] #60 closed

[2019-06-26 13:57] dacastro4 commented on #92
fixed in #87

[2019-06-26 13:57] #92 closed

[2019-06-26 13:58] whitesource-bolt-for-github[bot] opened #94 "CVE-2019-11358 (Medium) detected in jquery-3.1.1.min.js"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-3.1.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">https://cdnjs.c

[2019-06-30 00:35] rvkolosov opened #95 "Service accounts"
Hi, how I can use package with service accounts auth?

[2019-06-30 20:41] esmaily opened #96 "Error: redirect_uri_mismatch"
1-After  install and config occer this error Error: redirect_uri_mismatch
2-but in local test work and connect to google on error ;
This app isn't verified
This app hasn't been verified by Google yet. Only proceed if you know and trust the develope

[2019-07-01 06:21] iqroyan commented on #39
hey Danial access_token same of GOOGLE_CLIENT_ID?

[2019-07-01 14:58] #94 closed

[2019-07-01 14:58] dacastro4 commented on #94
@whitesource-bolt-for-github Wrong language

[2019-07-01 15:00] dacastro4 commented on #96
@esmaily what's the problem? That the app is not verified or that the uri is mismatching? If it's the latter, make sure that the URI matches in the Google Console and your website

[2019-07-01 15:01] dacastro4 commented on #95
@rvkolosov I'm not familiar with service account auth. What do you need to accomplish that?

[2019-07-01 15:06] rvkolosov commented on #95
@dacastro4
I initially wanted to receive letters with attachments from the mailbox, and tried to use google api for this, but then I remembered imap and everything fell into place, thanks for the answer, you can close the issue

[2019-07-01 15:06] #95 closed

[2019-07-10 16:30] alalfakawma opened #97 "How to use the multiple credentials?"
Thanks for the great package, but I'm not sure how to use the multiple credentials for multiple accounts on my backend. Can someone please tell me how to use it?

[2019-07-10 16:43] alalfakawma commented on #67
Can I use the auth middleware for api calls?

[2019-07-10 17:47] dacastro4 commented on #97
Go to the (configuration)[https://github.com/dacastro4/laravel-gmail#configuration] section in the readme and follow the instructions.

After that, if you log in on Gmail with a logged in user it's going to save their authentication file using their user ID and allow you to get their emails when they are logged in.

[2019-07-10 17:51] dacastro4 commented on #67
@alalfakawma you should be able to use it with the `auth:api` middleware

[2019-07-11 14:57] alalfakawma commented on #97
On another issue you told me to use the auth:api middleware, but it is not working at all. Can you please tell me how to use this using an api? Which route should be enclosed in the middleware?

[2019-07-12 11:13] abhiburk commented on #60
I did composer update but the batchRequest isn't reflected in my package

[2019-07-12 12:36] abhiburk commented on #60
Also can you tell me how do I use batchRequest function ?

[2019-07-14 09:38] alalfakawma commented on #97
@dacastro4 I know you must be busy but can you help me out please? I'd be very grateful.

[2019-07-14 14:10] dacastro4 commented on #97
Having them separated is obviously the problem. Remember that the oAuth works that way. You have a host and a redirect url and that has to be the server side. Why don't you do a small view on the server side so the user can login using oAuth? I think you need that

[2019-07-14 14:33] alalfakawma commented on #97
Do you think you can briefly tell me how to do that?

Also, I tried passing the *code* that returns from the redirect to the callback path to the frontend and then calling the makeToken and manually passing the code there, but it is not working. Saying Login Required or something. Is it not possible to just pass the code there?

[2019-07-14 14:42] dacastro4 commented on #97
Remember that the user has to manually login to Google and accept the
permissions. And that's why I'm saying that you have to change your current
flow to include the Google part (the oauth).

Make them login and then present them with a window/view from your backend
that takes them to the Google oauth, redirect them back to your app, save
everything in the back end and close the window. Are you fo

[2019-07-14 14:48] alalfakawma commented on #97
Oh, yes, I get your point. Does this mean my users will have to login twice? One for the frontend and one for the backend? That is something I want to avoid, if possible. Also, my flow right now does include the OAUTH part, and when it hits the callback route, i'm trapping the code, and sending it to my frontend and then when my frontend sees the code, it shoots back to the maketoken route, and ru

[2019-07-14 14:48] dacastro4 commented on #60
You changed it to 2.0 and it didn't work?

[2019-07-14 14:52] dacastro4 commented on #97
No, just login with your app and then do a single time login to the Google ouath. The problem with the oauth is that you have to follow the whole flow of taking the user to the login page so they can accept the terms and blah blah

[2019-07-14 14:55] abhiburk commented on #60
Yes I changed it with 2.0 and did composer update but am not able to see batchRequest in Message.php while it was in your repo commit

[2019-07-14 15:39] dacastro4 commented on #60
And do you have 2.0 or ~2.0? I don't remember if I had to push a 2.0.1

On Sun, Jul 14, 2019, 10:55 AM Abhishek Burkule <notifications@github.com>
wrote:

[2019-07-14 15:44] abhiburk commented on #60
2.0

[2019-07-14 16:41] dacastro4 commented on #60
Try changing it to ~2.0 to see if it works. I'm not currently infront of a
computer that's why I'm trying to guess the solution

On Sun, Jul 14, 2019, 11:44 AM Abhishek Burkule <notifications@github.com>
wrote:

[2019-07-14 16:43] abhiburk commented on #60
Okay and I think I also tried v2.0 in .json

[2019-07-15 00:20] adrianbarnes commented on #74
@dacastro would you be adding this anytime soon to the package?

[2019-07-15 04:06] abhiburk commented on #60
this is what in my composer "dacastro4/laravel-gmail": "~2.0", and when did composer update I get "Nothing to install or update"

[2019-07-15 10:41] abhiburk commented on #58
@shashankj99  can please explain a bit or any sort of code you wrote to fetch emails faster.

[2019-07-15 13:47] dacastro4 commented on #58
@abhiburk I didn't use any of that code

[2019-07-15 13:49] abhiburk commented on #58
Can you check #60 ?

[2019-07-15 14:06] dacastro4 commented on #60
I'm finally in front of a computer and I tried and it failed. I push a 2.0.1 version and changed my composer.json to "~2.0" and I worked.

[2019-07-15 14:08] abhiburk commented on #60
Ok so what i suppose to do now ?

[2019-07-15 14:09] dacastro4 commented on #60
Run `composer update`

[2019-07-15 14:10] abhiburk commented on #60
Okay I will and can you tell me how do I use the batchRequest to get emails within sec as it taks lot of tike to load gmail inbox now it takes 15 to 20 seconds

[2019-07-19 12:32] samaphp commented on #88
Thank you guys for fixing the main issue, since there was a kind of email where I receive the body NULL but now it's fixed. There is only one issue is still remain while I'm testing all kind of NULL email messages that I faced before. So, I believe this issue still exists in v2.0 in one case.
The HTML body is null when receiving an email from Mailchimp's service https://tinyletter.com This service

[2019-07-19 12:37] samaphp opened #98 "Reopen getHtmlBody() and getPlainTextBody() return NULL in some cases"
Thank you guys for fixing the main issue in #88, since there were some of the message types where I receive the body NULL but now it's fixed with v2.0. But, there is only one issue is still remain while I'm testing all kind of NULL email messages that I faced before. So, I believe this issue still exists in v2.0 in one case.
The HTML body is null when receiving an email from Mailchimp's service ht

[2019-07-22 10:22] pparesh13 commented on #90
Remove the metadata option scope

[2019-07-22 10:43] PareshCitrusbug opened #99 "How to paginate the mail and grouped by Thread?"
I want to paginate email in the inbox but it is not working

$inbox = LaravelGmail::message()->in()->preload()->all();
$inbox->take(50);
$inbox->next();

![image](https://user-images.githubusercontent.com/45447854/61626724-a7678b00-ac9b-11e9-98c3-736ed438b213.png)

and if used
$inbox = LaravelGmail::message()->in()->preload();
            $inbox->take(50)->all();
            $inbox->next();
![imag

[2019-07-22 12:44] PareshCitrusbug opened #100 "How to set replay to when mail sent"
I try to send a mail as a replay to inbox mail

[2019-07-23 06:07] jesephan opened #101 "error 403 Insufficient Permission with send only scope"
hello,

I'm having error **403 Insufficient Permission** response from google after Oauth callback when scope is set to only **send** but is fixed when using **compose** I already double-check on the google console end. Wondering if anyone here encounter this issue and could help me.

You can see the error screenshot [here](https://prnt.sc/oiru3t).

Thanks!

[2019-07-23 09:48] abhiburk commented on #60
Hey still I am unable to load email faster it takes very much time to fetch into my inbox ?

[2019-07-24 13:54] dacastro4 commented on #101
It depends on what are you doing. Include the `readonly` scope

[2019-07-24 13:55] dacastro4 commented on #100
Please add more details about your issue. You are not telling me anything.

[2019-07-24 14:10] #90 closed

[2019-07-24 14:11] #97 closed

[2019-07-24 14:33] jesephan commented on #101
@dacastro4 our app needs **send** scope only since adding **readonly** will require our app to go thru security assessment from google because that is one of the restricted scope. We want to avoid security assessment as its very costly. Any possible reason why I'm receiving such an error If I only require **send** scope? or you able to recreate this issue on your end?

[2019-07-24 15:14] dacastro4 commented on #99
@PareshCitrusbug I could replicate the same screen. I'm working on this.

[2019-07-24 15:49] dacastro4 commented on #101
I was able to replicate it.

[2019-07-24 16:45] jesephan commented on #101
@dacastro4 good to know. I hope you can spare time helping to solve this issue. Also, I hope everyone here can contribute to fixing this bug. Mostly the use of this package is basically to send email only using gmail in my opinion. Everyone should be aware that asking for **send** only scope rather than compose will spare your app of going thru costly security assessment.

[2019-07-24 16:53] jesephan commented on #96
@esmaily make sure that your redirect uri is the same redirect uri that you provided when you generated the gmail api credentials

[2019-07-24 17:58] #101 closed

[2019-07-24 18:00] dacastro4 commented on #101
@jesephan I was able to quickly come up with a solution. The problem was that I'm requesting the email to save it in the gmail-json file and that requires a `read` permission

[2019-07-24 18:02] jesephan commented on #101
@dacastro4 wow thank you so much you just saved me today :) more power to you!

[2019-07-25 05:20] PareshCitrusbug commented on #100
I want to replay on a mail that receives in my inbox
when I replay to the mail that goes to the same email address where to receive.
receiver show the mail with my inbox mail in the same thread

[2019-07-26 13:58] dacastro4 commented on #100
@PareshCitrusbug When replying, I'm taking the `Reply-To` if that's not available I'm taking the `From` header. Please check your headers and let me know

[2019-07-26 14:30] dacastro4 commented on #98
That's interesting. Let me give it a try

[2019-07-28 02:44] samaphp commented on #98
Hi Daniel, I just added you as a subscriber and sent an email to you.

The email subject is (Test Tinyletter email body issue)

[2019-07-29 06:37] abhiburk opened #103 "null email in gmail-json.json"
[I just updated to your latest commit and suddenly my gmail laravel stopped showing email of the auth user though I am able to see his/her inbox emails but I am not his name.

Also `LaravelGmail::user()` is null once authenticated

`{"access_token":"secret_token","expires_in":3600,"refresh_token"secret_refresh_token","scope":"https:\/\/mail.google.com\/","token_type":"Bearer","created":1564382050,

[2019-07-29 06:49] abhiburk commented on #103
Okay So after reading whole commit I understood that `readonly` need to be added in our `config/gmail.php`

`'scopes' => [
		'all',
		'readonly'
	],`

[2019-07-29 06:49] #103 closed

[2019-07-31 08:11] PareshCitrusbug commented on #100
OK Works Fine

[2019-07-31 08:11] #100 closed

[2019-07-31 10:05] PareshCitrusbug opened #104 "How to send Draft mail with drafted attachment?"
And Also How to forward message with attachments????

[2019-07-31 10:09] PareshCitrusbug opened #105 "How a send Draft mail"
Hi,

I am trying to send the draft mail but it's not removed from the draft

[2019-07-31 10:18] #105 closed

[2019-08-05 06:44] subi1234 opened #106 "How To Send A Reply.?"
I'm, using the following code to send a reply like thread.

 `$mail = LaravelGmail::message()->get( $id );`
 `$mail->message( $message );`
 `$mail->to( $to, $name = null );`
` $mail->setReplyThread($id);`
 `$mail->reply();`

it shows like a thread in my sent items but in the receivers end, they get each and every reply as a new email.

[2019-08-05 08:24] subi1234 commented on #106
I Found The Answer, Thank You

[2019-08-05 08:24] #106 closed

[2019-08-06 12:00] PareshCitrusbug opened #107 "hasAttachments not work correctly"
$inbox =LaravelGmail::message()->take(config('lfk.GMAIL_PAGINATION'))->hasAttachment()->preload()->all();
                foreach ($inbox as  $message) {
                    echo $message->hasAttachments();
                }
it return null most of time

[2019-08-08 21:11] kakox opened #108 "Is there a complete tutorial?"

[2019-08-09 12:07] PareshCitrusbug opened #109 "How to Batch Modify Messages?"
I want to try to update multiple message label.

How can I change it?

[2019-08-09 16:12] samaphp commented on #98
@dacastro4 One more thing I updated my version from 0.6.2 to 2.0.1. Then I faced that issue.
I'm trying to debug this issue now, but can you please give me any guidance in that? What exactly part that I can get a clean Message body before making it as parts using this library?

Thanks!

[2019-08-09 20:18] dacastro4 commented on #98
@samaphp hey I know it's been days and I'm sorry but I've been busy but I got some code that I'm testing and seems to be working. If everything goes right I'll release the patch on Monday

[2019-08-10 00:06] samaphp commented on #98
Thank you @dacastro4 I really appreciate your efforts. and just replied here to provide help with debugging this issue :)
I will be glad if you can share anything for testing here.
Thanks again.

[2019-08-12 13:55] dacastro4 commented on #109
@PareshCitrusbug Currently, you won't be able to do that using a batch. Sorry.

You can accomplish it using a loop in the messages, I know it's not the most optimal but it will work

[2019-08-12 13:55] dacastro4 commented on #108
@kakox Tutorial for what?

[2019-08-12 15:36] dacastro4 commented on #107
Are you preloading the mails?

[2019-08-13 04:54] PareshCitrusbug commented on #107
Yes You can see in my Code That always return the false if the mail has attachment or not is passed true when mail sending fails or any calendar invitation

Currently, I changed for check attachment
$messages = LaravelGmail::message()->in()->preload()->all(null);
        foreach ($messages as  $key => $value) {
            echo $value->getSubject();
            echo "<br/>";
            $numberOfA

[2019-08-13 07:15] PareshCitrusbug opened #111 "Request Entity Too Large"
Hi When I try to attach the file with mail it throws me an error: Request Entity Too Large
Up to 5 MB Upload works fine
When I uploaded 10MB file then error generated
I set my **php.ini**
upload_max_filesize=20240M
post_max_size=20240M

[2019-08-13 09:09] samaphp commented on #98
Thank you @dacastro4 I just tried v2.0.3 and it is working well now. And I can get the message body correctly.

But I noticed this update broke `$message->sendToTrash()`.

The error because of the new line on this commit:
https://github.com/dacastro4/laravel-gmail/commit/fd29c6ca55c52f554ce162479316f67501bfb78e#diff-a0bc20268a7993d173f8632dd7ca0ca0R108

`$this->parts = collect($this->payload->getP

[2019-08-13 14:36] dacastro4 commented on #98
@samaphp I test it and you are right. Sorry about that. I just pushed the fix for this

[2019-08-13 14:37] #98 closed

[2019-08-13 14:37] dacastro4 commented on #107
I pushed some changes for the payloads yesterday. Do you mind updating to the latest version?

[2019-08-13 14:38] dacastro4 commented on #111
We said a couple of things in #77 but I think Gmail API doesn't allow files greater than 5mb if I'm not mistaken

[2019-08-13 14:39] dacastro4 commented on #99
@PareshCitrusbug Do you mind checking if with the latest update this got resolved?

[2019-08-14 05:24] #109 closed

[2019-08-20 07:11] PareshCitrusbug commented on #107
Yes I just updated its works fine

[2019-08-20 07:11] #107 closed

[2019-08-20 07:12] #111 closed

[2019-08-20 07:13] PareshCitrusbug opened #112 "How to Forward the mail with multiple attachments"
I want to forward the email with all attachments?

[2019-08-30 15:20] SergioAraya opened #113 "sub / pub"
Hola Daniel, se puede acceder a este servicio?:

https://developers.google.com/gmail/api/guides/push#overview

[2019-09-01 03:33] josiahmann opened #114 "Wrong messages being fetched"
In my app I'm trying to use one of the following two code snippets and both are returning invalid results.

**Example 1**
`$messages = LaravelGmail::message()->from('ashleyshell@gmail.com)->take(5)->preload()->all();
`

returns this

<img width="1283" alt="Screen Shot 2019-08-26 at 10 51 54 AM" src="https://user-images.githubusercontent.com/6378576/64071391-29ee4d80-cc3f-11e9-9940-f2cc26851e75.png

[2019-09-17 08:54] simaodiascosta opened #115 "Laravel 6.0 Support"
Hello, when upgrading to laravel 6.0 faced these issues using your package.

Can you put some time on this? Many thanks and keep the good work 👍👍
@dacastro4

[code]

[2019-09-17 18:24] dacastro4 commented on #115
Should be fixed by #116

[2019-09-17 18:24] #115 closed

[2019-09-24 22:58] nasatome opened #118 "Over hacktober fest"
Does your project participate in the Hacktober Fest?

[2019-10-02 16:16] dessery85 opened #119 "Retrieving Next Page"
Hi

I am having an issue with retrieving the second page of messages. My code is as follows:

`$start_date = date("Y-m-d", strtotime("-1 months"));
$mail = LaravelGmail::message()->after($start_date)->preload()->all();
$next = $mail->next();`

The error I receive is:

`Method Illuminate\Support\Collection::next does not exist.`

Am I doing something wrong or should this be working?

Many thanks fo

[2019-10-05 09:05] novakben opened #120 "Getting user's aliases (sending-as)"
Awesome package,
Any ideas on how to get the logged-in user's alias addresses?
I want to present my user with a "send as" dropdown when he is composing his emails.

Also, once I have the alias can I simply use it in `$mail->from` when sending?

Thanks!

[2019-10-08 14:36] designvoid opened #121 "Concatenated query params causing issue with paging"
When a next pageToken is in the response and using the next method the SendsParameters trait seems to concatenate the page numbers in the params
[code]
after calling next()
[code]
which then causes this exception:
[code]

[2019-10-16 02:31] SergioAraya opened #122 "Call watch()"
Daniel, necesito saber si esta funcionalidad esta presente en el paquete?

https://developers.google.com/gmail/api/guides/push

Lo que necesito es activar notificaciones del buzón del usuario.

[2019-10-20 09:59] novakben commented on #42
hey @jaythegeek does this still work for you? did you find any caveats? I'm considering implementing the same approach.

[2019-10-28 15:47] robov opened #123 "Configs only from .env ?"
I would like to specify the credentials in the database, not in the .env, so that each user can get their email.
When I specify the credentials in the .env, I get a token back... yeehaa... awesome
However when I specify the credentials in the code from the database then the credentials are still used from the .env and not from the config. getconfig shows the right values
Yet in the call to gmail t

[2019-10-30 13:39] robov opened #124 "undefined : Request::getNextPageToken()"
When getting multiple emails I get :
Call to undefined method GuzzleHttp\Psr7\Request::getNextPageToken()

[2019-10-30 13:59] robov opened #125 "take() is maximized to 500"
It seems when I get all messages and this exceeds 500, even take(99999) only takes 500 messages

[2019-11-05 08:49] MalindaWMD commented on #99
Hi, Seems like it still not working

[code]

![Screen Shot 2019-11-05 at 2 17 12 PM](https://user-images.githubusercontent.com/17429480/68192198-fe893580-ffd6-11e9-82d3-5f892876d686.png)

Please check

[2019-11-07 17:33] dacastro4 commented on #125
You have to go to the next page if you want to see the next 500 messages. Gmail API's limits to 500 messages per page.

[2019-11-07 17:33] #125 closed

[2019-11-07 17:33] dacastro4 commented on #124
@robov do you mind showing me an example of your code?

[2019-11-07 17:47] dacastro4 commented on #123
The `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS` works using the user's ID and create a json file from each user using the same token and same redirect URL.
I'm not planning on adding this functionality any time soon. You can create a PR if you'd like.

[2019-11-07 17:47] #123 closed

[2019-11-07 17:48] dacastro4 commented on #122
Hola @SergioAraya. No, este paquete no usa esa funcionalidad.

[2019-11-07 17:48] #122 closed

[2019-11-07 17:53] dacastro4 commented on #121
@designvoid Thank you so much. Adding the fix in the next release.

[2019-11-07 17:53] #121 closed

[2019-11-07 18:18] dacastro4 commented on #120
@novakben I hope you already figure this out but if you haven't: Adding the `read` scope in your config files adds the user's email to the .json config file. You can take it from there I guess.

[2019-11-07 19:21] #118 closed

[2019-11-07 19:23] #113 closed

[2019-11-07 19:55] dacastro4 commented on #114
@josiahmann Very sorry for the late response. Did you figure it out? I try with multiple params and they were all returning the right results. Are you taking into consideration that if the email has a response (it's a thread) I would count as a separated email?

[2019-11-07 19:55] #108 closed

[2019-11-07 19:59] #119 closed

[2019-11-07 19:59] dacastro4 commented on #99
Regarding the grouping, you could try using the [groupBy](https://laravel.com/docs/5.8/collections#method-groupby) collection method on the `threadId` property.

[2019-11-07 19:59] #99 closed

[2019-11-07 20:00] #96 closed

[2019-11-07 20:00] #81 closed

[2019-11-07 20:00] dacastro4 commented on #120
@novakben I hope you already figure this out but if you haven't: Adding the `read` scope in your config files adds the user's email to the .json config file. You can take it from there I guess.

[2019-11-22 19:58] edalzell opened #126 "Error getting message"
I get the following error:
[code]

When I do this in code:
[code]

What am I doing wrong?

[2019-11-22 20:00] edalzell commented on #126
Neglected to say I'm on v2.0.4

[2019-11-22 20:10] edalzell commented on #126
For some reason this:
[code]

returns a Guzzle Response. What the heck?

[2019-11-22 20:17] edalzell commented on #126
I **think** this is the issue: https://github.com/googleapis/google-api-php-client/issues/1140

[2019-11-23 13:58] giojkd opened #127 "how to create new labels ?"
Can I create new labels?

[2019-11-25 12:43] SimonMuraya commented on #127
@giojkd i think the method below can do..

[code]
Reference: https://github.com/dacastro4/laravel-gmail/blob/master/readme.md

If the above doesn't satisfy your expectation you can always refer tp the link below;
https://developers.google.com/gmail/api/v1/reference/users/labels/create

[2019-11-27 18:53] dacastro4 commented on #126
@edalzell I'm very sorry, I've been very busy.
Did you try updating to the latest version or your server is not using PHP 7.3?

[2019-11-27 18:54] edalzell commented on #126
it is the latest version of both your package and PHP (7.3).

[code]

[2019-11-27 18:57] dacastro4 commented on #127
@giojkd  I don't have that feature but I have a workaround for you
Get a single message and access the service from it
[code]
And then you can follow the instructions on the link that @SimonMuraya  posted.
I hope this helps

[2019-11-27 18:57] #127 closed

[2019-11-27 18:58] dacastro4 commented on #126
Nope, the latest version is `3.2`. I need to update the README

[2019-11-27 19:01] edalzell commented on #126
True, but I'm on 5.8, so 2.0.4 is the latest for that: https://github.com/dacastro4/laravel-gmail/issues/126#issuecomment-557673332

[2019-11-27 19:55] dacastro4 commented on #126
Can you send me the scopes that you are using?

[2019-11-27 20:09] edalzell commented on #126
How do I do that? Apologies I have taken over this project and there is no project documentation on what they did.

[2019-11-27 20:10] edalzell commented on #126
FYI, I just updated to the latest and get the same error. We have also renown the auth and the gmail-json.json file got updated properly. This is the error I get:
[code]

[2019-11-27 20:13] dacastro4 commented on #126
This
[code]
That's what I have on my `config/gmail.php`

[2019-11-27 20:15] edalzell commented on #126
[code]

[2019-11-27 20:18] dacastro4 commented on #126
Can you try with the ones that I sent? Remember to logout and login again (Gmail)

[2019-11-27 20:22] edalzell commented on #126
we're not composing, nor inserting nor sending though, are those required?

And log in out of the email account?

I will get the client to try, thanks for your attention and patience!

[2019-11-27 20:24] dacastro4 commented on #126
I just want to try something out because I have no clue why this is happening to you. I copied your example and seems to be working for me.

Yes

[2019-11-27 20:55] edalzell commented on #126
Unfortunately no change. We’ve got the original devs (of the app) looking in to it now as it used to work.

It’s really strange just before the above call it is what it is supposed to be but it seems to get converted into a request.

[2019-11-27 20:57] dacastro4 commented on #126
I'll try something else when I can.

[2019-11-27 21:42] edalzell commented on #126
I apologize, the code throwing this error is:
[code]

[2019-11-29 07:24] xqsit commented on #45
Yes I want to fetch all messages using thread id. Please refer this
https://developers.google.com/gmail/api/v1/reference/users/threads/get

[2019-11-30 17:04] dacastro4 commented on #126
Now that I'm paying more attention and I'm sorry that I didn't before, why are you doing that? If you preload the message, your `$message` variable is already the full message with the body, subject, and everything. I was able to fix this issue but now I realize the way the developer did it the first time is a waste of calls to the Google API (wasting more money)

[2019-11-30 17:04] #126 closed

[2019-11-30 17:06] dacastro4 commented on #124
BTW this should be fixed in the latest version. Let me know and we reopen this issue if necessary.

[2019-11-30 17:06] #124 closed

[2019-11-30 18:18] edalzell commented on #126
I realized that as well after I traced through the code a bit more closely. Saw that batch var then realized the second call wasn’t needed.

Thanks for your attention and this is a great package!

[2019-11-30 18:19] dacastro4 commented on #126
@edalzell thank you!

[2019-12-02 11:52] xqsit95 opened #128 "Get full thread using thread id?"
I want to fetch all messages of a thread using thread id. Please refer this
https://developers.google.com/gmail/api/v1/reference/users/threads/get

[2019-12-04 10:39] AishwaryaMurali opened #129 "How do I add multiple gmail accounts?"
I want to add multiple Gmail accounts in a single Laravel project. How to achieve this?

[2019-12-16 10:55] sahakavatar opened #130 ""message": "Legacy People API has not been used in project"
the google + api is enabled but im getting this error message
https://www.screencast.com/t/thKqXfDsc

[2019-12-17 00:57] dacastro4 commented on #130
@sahakavatar do you mind showing me the scopes that you are requesting?

[2020-01-19 21:09] bakoe opened #131 "Mail::getFromEmail() returns null when "From" header only contains an e-mail address"
### Actual

When the `From` header of an e-mail contains only an e-mail address (e. g. `joanne@example.org`) instead of the "usual" name + e-mail address combination (e. g. `Joanne <joanne@example.org>`), the [`Mail::getFromEmail()`](https://github.com/dacastro4/laravel-gmail/blob/master/src/Services/Message/Mail.php#L225) method returns `null`.

### Expected

In the case described above, I would

[2020-01-21 13:52] frenchqwerty opened #132 "Link custom Login to the lib"
Hi,

I am working on a CMS and I have a problem. I have a custom Login and I want to add the Google OAuth for sending mail. I have tryied to set the GOOGLE_ALLOW_MULTIPLE_CREDENTIALS to `true`, but the `LaravelGmail::check()` return false.

How can I link LaravelGmail login with my custom login ?

There are some code :

web.php
[code]

UserController.php

[code]

[2020-01-22 12:28] frenchqwerty commented on #132
Edit : When I remove the `LaravelGmail::check()`, I have a Exception with : `Login required`
I have checked `storage/app/gmail/tokens/gmail-json.json` and the file exist...
`GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true` doesn't work, if I set that at `false`, it's works !
So, I have tried to disconnect and reconnect with another account but gmail-json.json doesn't change and when I send an email, the se

[2020-01-22 20:17] dacastro4 commented on #132
Hey @frenchqwerty can you specifically tell me what's the issue with the package? `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS` only works when the user it's already logged in with your app. If you want to allow users to sign up with Google, this is not the right package for you.

[2020-01-22 20:23] #131 closed

[2020-01-22 20:45] frenchqwerty commented on #132
@dacastro4 Thanks for quickly reply.
I want to send and display mail in my CRM with account Google. I have implemented your package and it's work. But I want to give the possibility of multiple credentials.

If User A is connected with your package and can send mail normally.
Now, User B want to send mail with his account Google, he can call the package for connect with his account Gmail and send

[2020-01-22 20:49] dacastro4 commented on #132
@frenchqwerty they have to log in to your app first and then do a "connect your google account" type of thing and that would work

[2020-01-22 20:58] frenchqwerty commented on #132
@dacastro4 I have already do that and
If I set `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS` to `true`, I have a I have an Exception with : `Login required`.
Else if I set `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS `to `false`, I can send mail but, it send the mail with the wrong user.
Tomorrow I will try again, If I can't, I will show you my code. Thanks for your time.

Have a nice day

[2020-01-24 10:35] GiMitch opened #133 "HTTP 500 'Login is required' on emailing with multiple user credentials configuration"
Greetings,

Knowing that all my application users are using company email (gmail emails), I am developing an Laravel API which must be able to sends email as the currently logged user.

Following the documentation, while I was able to send email using the 'single user credential' approach, when trying to configure the wrapper so it could support multiple user credentials (by setting `GOOGLE_ALLOW_

[2020-01-26 20:40] bakoe opened #134 "PHP 7.4: During class fetch: Uncaught ErrorException: Unparenthesized `a ? b : c ? d : e` is deprecated."
### Actual

When using the module in a Laravel project with PHP 7.4.0, the following Exception is being thrown:

[code]

### Expected

No such Exception should be thrown when using PHP 7.4.0.

### Details

The Exception is apparently caused by the [ternary statement in `src/Traits/Filterable.php:62`](https://github.com/dacastro4/laravel-gmail/blob/master/src/Traits/Filterable.php#L62).

[2020-01-27 08:53] frenchqwerty commented on #132
@dacastro4 Hi, I'm back,
I have the same issue, so I have tried to set `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS` to `false` and set the sender with `$mail->from() `for emulate the behavior excepted but it doesn't work.
My code :
[code]

I don't know why your package doesn't set the sender. I just want to send mail with an account set dynamically

[2020-01-28 13:54] dacastro4 commented on #134
Hey @bakoe I should fix the readme now because I haven't tested it on PHP 7.4 and apparently it is not compatible.

[2020-01-28 14:00] dacastro4 commented on #133
Did you try #83?

[2020-02-03 15:11] celorodovalho opened #136 "Call to undefined function "starts_with""
# Symfony\Component\Debug\Exception\FatalThrowableError  : Call to undefined function Dacastro4\LaravelGmail\Services\Message\starts_with()

##  at /var/www/vendor/dacastro4/laravel-gmail/src/Services/Message/Mail.php:286
[code]

[2020-02-03 16:33] celorodovalho commented on #136
It's enough for me until now, to work with Laravel 6+
[code]
#134

[2020-02-03 16:39] #136 closed

[2020-02-04 09:04] celorodovalho commented on #136
There is a problem in src/Services/Message/Attachment.php as well.

[code]

[2020-02-06 17:49] celorodovalho commented on #136
@dacastro4 can you please take a look in my comment above?

[2020-02-08 15:31] dacastro4 commented on #136
@celorodovalho Sorry. I fixed it.

[2020-02-12 10:14] simaodiascosta commented on #134
Hey @dacastro4.

As the error message suggests, doing this change, the error is fixed. Tested here.

**src/Traits/Filterable.php:62.**
`! $i ? $this->add( "{from:$emails[$i]" ) : $i == $emailsCount - 1 ? $this->add( "from:$emails[$i]}" ) : $this->from( $emails[ $i ] );`

`! $i ? $this->add( "{from:$emails[$i]" ) : ($i == $emailsCount - 1 ? $this->add( "from:$emails[$i]}" ) : $this->from( $emails[

[2020-02-14 15:56] rndmendes opened #137 "URI must be a string or UriInterface"
Hi, I'm fairly new in Laravel. After following all the steps in the readme section, can't put this to work.
I always get the messasge: **URI must be a string or UriInterface**

Thanks in advance.

[2020-02-14 17:00] rndmendes commented on #137
Solved. I had a wrong redirect URI.

[2020-02-14 17:00] #137 closed

[2020-02-17 16:40] cameroncollector opened #138 "How to set state since it was added (for use in multi tenant app)"
Currently working on a multi tenant app and being able to set the state would be hugely beneficial pre-sending the request to Google so I could use the info according once I receive the response. Currently the state parameter is on line 36 of config/gmail file but I can  not figure out how to set it. Thanks in advance.

[2020-02-20 23:59] edalzell opened #139 "How do you set this up locally?"
Rolling out a staging server, but I want to test everything locally first.

How do I set it up so I can do proper authentication and make it work, locally?

The docs are not clear about what needs to be set in your google console redomains, etc.

Thanks for your help!

[2020-02-21 16:45] edalzell commented on #139
I got this solved, the key is that you need to create web app credentials and make sure the redirect uris match the ones in your .env/config.

[2020-02-21 16:45] #139 closed

[2020-03-15 00:10] joewardpr opened #141 "Restoring access without user authentication - long-lived tokens?"
A user authenticates and grants permissions. They have a temporary token.

How do we restore that access on the server side to (for example) send a scheduled message without the user present to grant permissions through the browser again?

1. Do we need to save the refreshToken locally and restore it somehow?
2. Or does it store that token automatically and we just set the ID (email) of the user t

[2020-03-15 01:33] siteclub opened #142 "State variable in config is referenced incorrectly"
In your pull request #55 where you add the state variable, did you forgot to add the prefix for the state variable or is it intentional and I'm missing something?

`'state'         => isset($this->_config[ 'state' ]) ? $this->_config[ 'state' ] : null,`

should be

`'state'         => isset($this->_config[ 'gmail.state' ]) ? $this->_config[ 'gmail.state' ] : null,`

[2020-03-30 18:44] malohtie opened #144 "add support laravel 7"
as title say, package wont be installed in laravel 7

[2020-03-31 12:29] tancou commented on #144
Hi, if you absolutely need it, look at my PR https://github.com/dacastro4/laravel-gmail/pull/143

[2020-03-31 13:25] dacastro4 commented on #144
#143 merged

[2020-03-31 13:25] #144 closed

[2020-03-31 13:27] #142 closed

[2020-03-31 13:37] #133 closed

[2020-03-31 13:38] #130 closed

[2020-03-31 13:38] #120 closed

[2020-03-31 13:38] #114 closed

[2020-03-31 13:39] dacastro4 commented on #141
You have to check Gmail's documentation but I don't think there's a way to do that. Defeats the purpose and would have security issues.

[2020-03-31 13:39] #141 closed

[2020-04-14 14:55] #134 closed

[2020-04-18 10:40] damms005 commented on #83
I guess you are referring to `GmailConnection.php#171-174`.

Since `Filesystem->put()` returns `bool`, why not do that check to ensure the file written to disk?

[2020-04-18 10:45] damms005 commented on #132
I must mention that most of the issues are because of the way this package is documented. I hope will welcome a rewrite/improvement on the current documentation. E.g., the `credentials_file_name` part of the configuration file reads:

[code]

Now in the above, `:email to use, clients email on the file` is very ambiguous. Does it mean the json is a key-value pair of users and their configuration? e

[2020-04-22 09:27] usamanoman commented on #141
@joewardpr  were you able to figure this out?

[2020-05-02 11:00] jstam89 opened #147 "No credentials found when trying to receive emails"
I've used the routes and added to following to my controller.

[code]

When moving to the url in the route after i went trough the gmail auth service it says:

Dacastro4\LaravelGmail\Exceptions\AuthException
No credentials found.
http://localhost:3000/emails

[2020-05-02 11:20] jstam89 commented on #147
Now it seemed the .env url and the url in the oauth did not match. That seemes to be fixed but no i get the followwing error:

GuzzleHttp\Exception\RequestException
cURL error 60: SSL certificate problem: unable to get local issuer certificate (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)

last slacktrace:

[code]

[2020-05-02 11:32] jstam89 commented on #147
fixed it by following:

https://knowledgebase.constantcontact.com/articles/KnowledgeBase/18159-WordPress-Error-60?lang=en_US

[2020-05-02 11:32] #147 closed

[2020-05-02 12:05] jstam89 opened #148 "How to receive 5 most recent emails"
I recently started with this and now I would like some help to find out how i can receive the latest receiven emails read and unread. anyone willing to help a poor ol boi?

[2020-05-02 18:56] khavishbhundoo opened #149 "Login Required"
I am getting the following error while sending emails

`{ "error": { "errors": [ { "domain": "global", "reason": "required", "message": "Login Required", "locationType": "header", "location": "Authorization" } ], "code": 401, "message": "Login Required" } }
`

I added your library and modified the env as follows

[code]

There is the quickstart php found in google docs but since here we won't be u

[2020-05-04 11:02] JMDevelopers commented on #129
did you figure this out? i updated the config but doesnt seem to do much ?

[2020-05-04 22:45] giennjoro commented on #149
@khavishbhundoo I think the error you are having is related to one I have. I have realized that upon allowing the app to access mail information, it redirects successfully but the welcome page (updated as per the documentation), still reads login. I think the login action is not being handled correctly.
@dacastro4 please attend to this.

[2020-05-04 23:47] giennjoro opened #150 "empty gmail-json.json"
My created `gmail-json.json` file, which I expect is where the token is stored, is empty event after login and redirection has happened.

[2020-05-05 11:53] giennjoro commented on #149
I figured out the problem. Ensure, that the gmail-json.json is present.

[2020-05-05 11:54] #150 closed

[2020-05-06 13:37] khavishbhundoo commented on #149
@giennjoro  Can you share the content of  gmail-json.json with fake details.I created an empty one and it still didn't work

[2020-05-06 14:01] blankRSD commented on #148
You can use the raw method to use filters. For example:
For getting all unread messages in inbox
`$mails = LaravelGmail::message()->raw('in:inbox is:unread')->preload()->all();`
For getting all read messages in inbox
`$mails = LaravelGmail::message()->raw('in:inbox is:read')->preload()->all();`

You can test out the correct filters by using them in the Gmail search box.
For more info: [Link](https

[2020-05-06 14:05] blankRSD commented on #129
Add this in the .env file
`GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true`

[2020-05-06 14:09] jstam89 commented on #148
Thank you! I will try this give feedback and close if it's fixed.  Appreciate your answer!

[2020-05-06 19:23] jstam89 commented on #148
It does get my unread emails but I'm getting an empty object as subject and body.

[2020-05-06 20:32] blankRSD commented on #148
Did you use the `preload()` function? Preload fetches all the content of mail as mentioned in the README.

[2020-05-06 20:40] jstam89 commented on #148
I did as you said. I'm getting a payload with sometimes 60 objects.. I've clicked trough 1 and found a subject somewhere.. but the actual data is not presenting a subject and body.

[2020-05-06 20:50] blankRSD commented on #148
If you want to reduce the number of mails you can use the `take()` function.
Eg:
`$mails = LaravelGmail::message()->raw('in:inbox is:unread')->take(5)->preload()->all();`

After this, you can run a foreach loop on `$mails` to get the content as mentioned [here](https://github.com/dacastro4/laravel-gmail#mail)
Eg:
[code]

[2020-05-18 15:53] aarchilla opened #151 "Can't pass Array in mail->view()"
Hi,

I'm working into sending email with laravel blade aka views. When I send without passing the array ,it works. However when I send with the array, like `view('email.password',$dataArray)`, the method returns me `Facade\Ignition\Exceptions\ViewException: Undefined variable: dataArray`

How can I pass the array to the view?

There are some code:

Controller Function:
[code]
Password.php

[code]

[2020-05-23 16:13] neev891 opened #152 "from name set"
unable to set from name in laravel5.8

[2020-06-01 02:17] hapo-DucMinh commented on #128
so same, pls help me

[2020-06-24 06:32] VladimirAfonin opened #153 "Error from Google api"
Hi, i get error: "HTTP Batch endpoint is deprecated. See https://g.co/cloud/global-batch-deprecation for info and migration steps". This error in file -> vendor/google/apiclient/src/Google/Http/REST.php::118. I realized it will be disconnected soon

[2020-06-24 08:16] VladimirAfonin commented on #153
some addition: i got this error when i call -> " LaravelGmail::message()->unread()->preload()->all(); ".

[2020-06-26 19:05] #153 closed

[2020-06-26 19:05] dacastro4 commented on #153
@VladimirAfonin Please let me know. I updated the Google API services version. If that doesn't do the job, reopen the issue.

[2020-06-29 06:45] VladimirAfonin commented on #153
Thank you! Now it works correctly, there are no "deprecated" errors. If errors occur, I will let you know.

[2020-06-30 07:58] VladimirAfonin commented on #153
Hi, i still same error: [2020-06-30 10:55:56] Ошибка : tyest303@gmail.comGlobal HTTP Batch endpoint is deprecated. See https://g.co/cloud/global-batch-deprecation for info and migration steps./var/www/api/vendor/google/apiclient/src/Google/Http/REST.php118

[2020-06-30 11:41] VladimirAfonin commented on #153
Some addition:
![DeepinScreenshot_select-area_20200630144031](https://user-images.githubusercontent.com/22343015/86122019-b8da2980-badf-11ea-950a-2e113391fec2.png)

[2020-06-30 11:53] VladimirAfonin opened #154 "Error from Google Api Again"
Hi, i get error: "HTTP Batch endpoint is deprecated. See https://g.co/cloud/global-batch-deprecation for info and migration steps". This error in file -> vendor/google/apiclient/src/Google/Http/REST.php::118. I realized it will be disconnected soon

[2020-06-30 11:53] VladimirAfonin commented on #154
![DeepinScreenshot_select-area_20200630144031](https://user-images.githubusercontent.com/22343015/86123047-83364000-bae1-11ea-8c61-342ab6951244.png)

[2020-06-30 11:55] VladimirAfonin commented on #153
I did not find an opportunity to reopen this issue therefore I created a new one #154

[2020-06-30 13:01] VladimirAfonin commented on #154
some addition: i again got this error when i call -> " LaravelGmail::message()->unread()->preload()->all(); ". Reply to some email or get message thread work great! Only get a new messages.
It would be great to fix it as quickly as possible, our application is broken. Thank you so much!

[2020-07-17 08:42] kvachakhia opened #155 "How I can automatically fetch a new message With a specific Subject?"
**How I can automatically fetch a new message With a specific Subject?**

[2020-07-22 11:38] harjinderkuldeep commented on #112
any lead?

[2020-07-24 16:47] tmazawi opened #156 "Class App\Http\Controllers\GmailController does not exist"
Hey
i'm trying to use the package in a controller but laravel is throwing me this error
any thought, Thanx?

[code]
Route
`	Route::get('/gmail', 'GmailController@index');
`

[2020-07-25 19:22] kvachakhia commented on #155
@dacastro4  Please help me

[2020-07-25 21:36] dacastro4 commented on #155
You can use the `subject` method but you might find more than one. Do something like `subject('my subject')->take(1)->all()`

[2020-07-25 22:00] anvaarkv commented on #129
i have enable multi login from env. but still its not creating more than one json in tokens. unable to save each user file. how can we do this.

[2020-07-26 06:31] kvachakhia commented on #155
But this fetching only if I refresh page... I want If come new message fetch automatically because I need save in database... Have any idea ? 🤔

[2020-07-26 19:56] #156 closed

[2020-07-29 17:39] nerijuso opened #157 "Mistype"
I think here we have a mistype `gmail.tate`
https://github.com/dacastro4/laravel-gmail/blob/a9c786908f9b6dd127293050f703734e2aa2effa/src/Traits/Configurable.php#L78

[2020-07-29 17:43] dacastro4 commented on #157
@nerijuso thank you for spotting that.

[2020-07-29 17:46] #157 closed

[2020-07-30 19:00] #155 closed

[2020-07-30 19:02] kvachakhia opened #158 "How I can automatically Login"
I have Cron task:  after 10 min fetch mails but how yo auth to my Gmail any idea?  @dacastro4

[2020-08-04 10:44] MukeishBaghel opened #159 "How can we add replyTo attribute"
I am looking for a way to add replyTo attribute in my project.

[2020-08-06 17:11] veed76 commented on #155
Hi @kvachakhia
Have you got a solution?
How can I auto receive new emails?

[2020-08-06 17:13] #77 closed

[2020-08-06 17:13] #104 closed

[2020-08-06 17:13] #132 closed

[2020-08-06 17:13] #149 closed

[2020-08-06 17:14] #152 closed

[2020-08-06 17:14] #148 closed

[2020-08-06 17:15] #138 closed

[2020-08-06 17:19] dacastro4 commented on #129
The `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS ` key allows having multiple by using the user ID or any kind of ID
https://github.com/dacastro4/laravel-gmail/blob/master/src/LaravelGmailClass.php#L11
https://github.com/dacastro4/laravel-gmail/blob/master/src/GmailConnection.php#L27
https://github.com/dacastro4/laravel-gmail/blob/master/src/Traits/Configurable.php#L53

[2020-08-06 17:19] #129 closed

[2020-08-06 18:02] kvachakhia commented on #155
Yes Cron job

[2020-08-06 18:13] veed76 commented on #155
@kvachakhia
Just now I found the solution, if you create the subscription in pub/sub then you will automatically receive the new email.
the pub/sub work seems like a webhook.

[2020-08-06 18:14] veed76 commented on #155
<img width="898" alt="Screenshot 2020-08-06 at 11 44 25 PM" src="https://user-images.githubusercontent.com/20658698/89567130-c69d7000-d83e-11ea-9018-87a23a42ba24.png">
See the attachment

[2020-08-06 19:07] kvachakhia commented on #155
It's Good bu I have cron job, for example, searching last Mail ID and if not exist creating

[2020-08-13 11:00] damms005 commented on #154
@dacastro4 Please do not close this issues because it is still not fixed.

I believe with more context, it may be easier to resolve the issue. Hence I am providing more information below:

For me, the error mostly happen when you use the library to chain calls in the following order:

[code]

Importantly, too, although I am getting the error in the same file (`vendor/google/apiclient/src/Google/Ht

[2020-08-13 13:18] dacastro4 commented on #154
@damms005 which version of the package are you using?

[2020-08-13 13:19] damms005 commented on #154
@dacastro4 `versions : * v4.0.4`

[2020-08-13 13:20] damms005 commented on #154
Also, maybe I should post complete output of `composer info dacastro4/laravel-gmail`:

[code]

[2020-08-15 20:06] abenezerdas opened #161 "Object Not Found error"
After authentication the error is showing object not found, may be typing error
Please resolve

[2020-08-20 11:20] VladimirAfonin commented on #154
Hi everyone! I still same error, but  i don't have much time to wait possible fix. I write my own solution for get  email from google api.

[2020-08-20 11:31] VladimirAfonin commented on #154
@damms005 if you want to see my code, write me on 'afonin006@gmail.com' and i show to my code ;)

[2020-08-20 13:56] damms005 commented on #154
@VladimirAfonin You don't want to do a PR or a Gist?

[2020-08-21 06:44] VladimirAfonin commented on #154
@damms005 i have a very private situation, how to grab emails from google api, pull request won't help here, we just have to use the native new \ Google_Service_Gmail ($ client) instead of Dacastro package

[2020-08-24 11:16] robfrancken commented on #129
I just wanted to add that the default setup assumes 1 token per authorised user. In my case I actually wanted to grant access to multiple Gmail accounts from the same user account. After digging through the code, yes it's possible you just need to manually set the `userId`:

[code]

And then you can access each account separately:

[code]

@dacastro4 I think this could be added to the README. Happ

[2020-08-27 01:40] robfrancken opened #162 "Unable to save attachments: 401"
It seems I can't save message attachments to disk. I am using `GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true` and I'm able to retrieve messages for a given account, but not the attachments. Not sure if I'm doing something wrong.

I have a token stored in `storage/app/gmail/tokens/gmail-json-accountA.json`.

This works:

[code]

But when I try to save the attachments:

[code]

I get:

[code]

Do I need to

[2020-09-15 12:26] saadrawasia opened #163 "No Email with Modify scope"
Hello everyone,

If i use only modify scope and create Token, I do not receive email of the user. But if i add readonly to the scope array, the email appears. Is there anyway to fix this. According to google, modify permission should also send user's email.

Thanks

[2020-09-27 08:49] kvachakhia opened #164 "Filter e-mails by date Not working"
Hello I want Filter Emails by date but it's not working
` $messages = \LaravelGmail::message()->subject('New customer message on September')->after('2020-09-20')->preload()->all();
`
Please Help and how I can get all message with the subject  "New customer message on" Because Month name is variable

[2020-09-27 08:49] kvachakhia commented on #164
@dacastro4

[2020-09-30 17:39] dacastro4 commented on #164
If you try the same thing in your Gmail account, Are you getting what you're expecting?

[2020-09-30 18:54] kvachakhia commented on #164
Yes. I have one problem to I login in Gmail but after 3 days it's logout why?

[2020-09-30 20:00] fuery opened #165 "GmailConnection::haveReadScope is too strict"
See ~line 265 in GmailConnection.php for this method:

[code]

The "all" scope in the core config file translates into the constant Google_Service_Gmail::MAIL_GOOGLE_COM (which is, specifically, "https://mail.google.com/"). This scope is inclusive of the privileges necessary to retrieve the authenticated user's profile information.

I have circumvented this in my own application by manually callin

[2020-10-01 02:42] turbo124 opened #166 "Laravel 8 support."
Hi there, any chance of a version bump for L8 support please?

[2020-10-01 03:26] #166 closed

[2020-10-11 23:04] DannerTerra opened #168 "Laravel 8 Support"
Any idea of when Laravel 8 support will be added?

[2020-10-16 07:01] saeedulhassan opened #169 "Is this possible one user(admin) grant access of his/her email. Remaining all users(officers) can access email in my system?"
At this time the flow is , if any user wants access an email, Gmail will ask for grant their email access,
I want admin to grant access to email so other users can access all mails of that email.

[2020-10-21 14:36] kvachakhia opened #170 "Multiple emails in one mail"
Hi, how fix Multiple emails in one mail I mean in one subject Have 3 mail but only getting one mail What I can make?

[2020-10-23 17:07] #170 closed

[2020-10-23 17:13] kvachakhia opened #171 "getID Returning Duplicate ID"
:/

[2020-10-23 17:14] kvachakhia commented on #171
Why did This happen? @dacastro4

![image](https://user-images.githubusercontent.com/59822053/97033636-b6ab4780-1574-11eb-8f78-4e0c0d0123cf.png)

[2020-10-26 22:58] #168 closed

[2020-10-27 14:41] #171 closed

[2020-11-12 19:53] binaryweavers opened #172 "v5.0 is not released but mentioned in installation guides - laravel 8 support"

[2020-12-08 13:31] mbasfour commented on #158
The same request, I am using the package to allow sending emails using the Gmail API, So I am authenticating using the backend and need a way to renew the token if it's expired or to generate a non-expiring token.

[2020-12-12 22:20] 42pe commented on #172
bump.

[2020-12-13 19:17] #172 closed

[2020-12-26 20:06] phuclh opened #173 "Wrong check on isAccessTokenExpired method with GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true"
I have an application that allows user can create many email accounts to connect to Gmail account, so I set `userId` is `email_account_id` instead of `authorized user id` by default. Something like this:

[code]

Then I have a foreach loop to check all email accounts is expired or not:

[code]

But it just returns the result of the first email account.

<img width="1587" alt="Screen_Shot_2020-12-2

[2020-12-27 06:37] azankorejo opened #174 "php 8 is not supported !!!"

[2020-12-27 07:11] phuclh commented on #155
@veed76  Can you help me on that? I still have trouble when receiving data from pub/sub.

[2020-12-28 08:00] phuclh commented on #92
@jtwiest How did you check if a message that has not yet been responded to or not? Thank you!

[2021-01-07 15:58] lptn commented on #174
+1 request to support php8

[2021-01-19 18:37] munchy5132 commented on #128
Same here

[2021-01-19 18:47] sfinetti opened #176 "Multi user credentials not working?"
Hi, maybe I'm using it wrong or I've understood the wrong meaning.

Does not GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true allow different users to access their respective email?

I'm using laravel-gmail to make users able to read and catalogate attachment from their gmail account directly into a webapp I'm developing for them. The problem is even with that flag set to true, when one user grants access t

[2021-01-19 20:56] sfinetti commented on #176
It can be closed.
To have multi user working, it's necessary to setUserId for each user and very time LaravelGmail class is invoked.

[2021-01-19 20:56] #176 closed

[2021-01-19 21:34] sfinetti commented on #162
Same here. If you dd the attachments, you'll notice that "token" is null. When MULTIPLE_ACCOUNTS was not set, it was working. My suspect is that it does not read correctly the json file

[2021-01-19 22:18] sfinetti commented on #162
I found a possible workaround, is in the Trait "Configurable.php".
it seems a problem with user auth, it is hardcoded as auth()->user()->id, but if you, like use, use another field for user id, it goes wrong.
I changed to auth()->user()->email and it started working again.

[2021-01-20 15:30] girin opened #177 "LaravelGmail::message()->all() returns empty"
Hi. I'm developing an application, where I need to check gmail inbox for responses for certain messages. I'm trying to get messages by calling

[code]

Then I'm using foreach to check all emails, like it's written in doc section. But I'm getting an empty result.
I'm using php 7.4 with Laravel 7.3, library version is 4.0.4 Also I'm trying to do this via console commands, if this matters. I'll appre

[2021-01-28 12:18] Niels-P commented on #174
Can we please accept this pull request?

[2021-02-05 10:43] ojha007 commented on #13
i got the same issue

[2021-02-15 12:52] eerzho opened #178 "LaravelGmail::user() return null"
I am working with Laravel 8.26 and laravel-gmail 5.1. I did everything according to the instructions, but after aftorizations through Google, the user is not detected, how can this be fixed?

[2021-02-16 00:24] #174 closed

[2021-02-24 04:45] abhimanusharma opened #179 "LaravelGmail::check() returning null after redirection"
Hi there,

I am simply using LaravelGmail::makeToken() and then redirecting is to inbox dashboard.

What happening is after successful login I have action in my controller
[code]

Here is my action dashboard which is linked with route name dashboard
[code]

**UPDATE:**
The token is not getting saved in /storage/app/gmail/tokens/gmail-json.json
The permission I set is using below command:
[code]

P

[2021-02-25 02:59] cntabana commented on #179
Please try to add \ before LaravelGmail like this \**LaravelGmail**

[2021-03-02 04:47] abhimanusharma opened #180 "LaravelGmail::redirect() doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi this suddenly stopped working, I don't understand the reason.

<span style="color:red">Access to XMLHttpRequest at</span> 'https://accounts.google.com/o/oauth2/auth?response_type=code&access_type=offline&client_id=499611483462-iabp631md5pcuql3jtm16g60qaprs53m.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Femail&state&scope=https%3A%2F%2Fmail.google.com%2F&approval_promp

[2021-03-09 08:40] robfrancken opened #182 "Can't install v5.1 with PHP 8.0 - new release required"
It looks like something is wrong on packagist.org, it's expecting php7.2 with version 5.1. I'm guessing you need to create tag 5.2 because the pull request updating the composer.json dependencies came on 9 Jan, and 5.1 was release on 8 Jan.

![image](https://user-images.githubusercontent.com/14947976/110442311-70f7b180-8106-11eb-8ca2-7d2910da496b.png)

[2021-03-09 08:46] abhimanusharma commented on #46
@dacastro4 Any update on this issue?

[2021-03-09 10:12] Vinze commented on #134
Could the fix from @simaodiascosta also be applied to version 3.0? I'm using Laravel 6 with PHP 7.4 and also getting this exception.

[2021-03-12 11:31] abhimanusharma commented on #179
@cntabana  Its all because of its token saving strategy. I think this package should provide migration to save config and token in database instead of json file. So that in app ajax call will not effect its working.

[2021-03-12 11:45] abhimanusharma commented on #112
Did you tried using loop? I am attaching multiple files using `for` loop.

[code]
$attachment has path of the file.

Not putting whole code here just the final code, as I am storing attachments in my local storage too.

[2021-03-12 15:03] dacastro4 commented on #179
You might be right. Sounds like a good feature to have.

[2021-03-12 15:18] #182 closed

[2021-03-12 15:18] dacastro4 commented on #182
Thanks

[2021-03-12 15:39] dacastro4 commented on #180
Did you figure out why? It doesn't look like an error with the package

[2021-03-14 10:32] abhimanusharma commented on #180
Hi @dacastro4  I finally figured out why this happened and solved it with very bad practice. This error come when I try to redirect the app to oauth page with ajax request instead of direct browser based redirection.

I am using Vue.js in the frontend and Laravel in the backend. If you make a simple get request from blade template and redirect it, it will work but if you make a request from fronte

[2021-03-15 16:47] chrisworrell commented on #141
@dacastro4 does this library not support server-side authorization where when a user grants access we can then save the users refresh token so that we could do future requests on that users behalf when they are not logged in?  I believe that is what the original person was asking

[2021-03-18 18:18] RAJAmaaz opened #184 "limited documentation in README.md file as I cant login and json file with token is not created"

[2021-03-22 09:41] abhimanusharma opened #185 "Pagination issue, not getting current page token or prev page token"
In documentation, `LaravelGmail::message()->take(2)->all( $pageToken = null )` this is  mentioned to set limit in getting data.

There are few problems in this, first is where will you get the $pageToken is not mentioned anywhere. Next there is no way to fetch previous page token to travel backward. How to get to previous page?

Third problem is nextPageToken always return with the result as well

[2021-04-05 20:03] mzaalan opened #187 "Read messages & attachments while allow multiple credentials"
I have Auth error while fetching message when multiple credentials enabled, The problem is that userId not passed to "Dacastro4\LaravelGmail\Services\Message\Mail" class when create new instances from "Dacastro4\LaravelGmail\Service\Message" class.
Also same problem regarding to attachments. So I have just pass new parameter to Attachment Class and then pass to parent constructor.

[2021-04-05 20:04] mzaalan commented on #187
I have already create this PR:
https://github.com/dacastro4/laravel-gmail/pull/186

[2021-04-10 07:39] ashishmishra-spec opened #189 "Reply error"
i was unable to send followup emails using laravelgmail with threadid and $mail->setReplyThread() not working

[2021-04-16 15:54] dacastro4 commented on #187
Merged. Thanks

[2021-04-16 15:54] #187 closed

[2021-04-25 11:39] redaTaha95 commented on #13
I have the same problem can someone help, please !!

[2021-04-26 14:53] paamathi opened #190 "How can I get the full thread mail using thread id?"
Hi everyone,

   I am looking for a function get the whole thread mail content.
We have this function 'LaravelGmail::message()->get( $id )' which returns only the single email with all the information. But, I need to get the full thread with all information.

https://developers.google.com/gmail/api/reference/rest/v1/users.threads/get

[2021-04-27 11:50] diar-kutia commented on #46
@abhimanusharma did you get any answer for drafting the gmail messages using this package?

[2021-04-27 12:10] diar-kutia commented on #180
@abhimanusharma Can you show me how to save an email as a draft using the feature you added on this package?

[2021-04-29 20:51] redaTaha95 commented on #13
Can u help us to solve this problem

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #191 "CVE-2019-8331 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2019-8331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloudf

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #192 "CVE-2020-11023 (Medium) detected in jquery-3.1.1.min.js"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-3.1.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">https://cdnjs.c

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #193 "CVE-2018-14040 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2018-14040 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #194 "CVE-2020-11022 (Medium) detected in jquery-3.1.1.min.js"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-3.1.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">https://cdnjs.c

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #195 "CVE-2018-20677 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2018-20677 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #196 "CVE-2018-14042 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2018-14042 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #197 "CVE-2018-20676 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2018-20676 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #198 "WS-2020-0144 (High) detected in laravel/framework-v5.5.45"
## WS-2020-0144 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>laravel/framework-v5.5.45</b></p></summary>

<p>The Laravel Framework.</p>
<p>Library home page: <a href="https://api.github.com/repos/laravel/framework/zipball/52c79ecf54b6168a54730ccb6c4c9f3561732a80

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #199 "CVE-2016-10735 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2016-10735 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-03 01:10] whitesource-bolt-for-github[bot] opened #200 "WS-2021-0079 (Medium) detected in laravel/framework-v5.5.45"
## WS-2021-0079 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>laravel/framework-v5.5.45</b></p></summary>

<p>The Laravel Framework.</p>
<p>Library home page: <a href="https://api.github.com/repos/laravel/framework/zipball/52c79ecf54b6168a54730ccb6c4c9f3561732a

[2021-05-04 09:16] afrazahmmad commented on #155
Can anybody share the procedure to use pub/sub
thanks

[2021-05-07 07:39] afrazahmmad opened #201 "Do we need to enable any restricted scope in Google App to just read/send emails ?"
Hi dear!
Thanks a lot for the great utility package.

I just want to fetch and send emails/replies. So do we need any restricted scope permissions to make it work ?
Right now my app does not have permission to any restricted scope.

Thanks and regards,
Afraz Ahmad

[2021-05-18 12:30] cvsoftexp commented on #201
Yes, you'll need restricted scope and go through the verification process https://support.google.com/cloud/answer/9110914

[2021-06-07 12:57] ricard-pons opened #202 "Mail::setMessage() incompatible with Replyable::setMessage()"
use Dacastro4\LaravelGmail\Services\Message\Mail;
    // Dacastro4\LaravelGmail\Traits\Replyable;

    try {
        $email = new Mail();
        $email->using($googleToken);
        $email->priority(rand(1, 5));
        $email->from($from, $fromName);
        $email->to($to, $toName);
        $email->subject($subject);
        $email->view($template, ['data' => $data]);
        $email->send();

[2021-06-10 15:46] AbithVijayan commented on #173
Have you got this issue fixed @phuclh ?

[2021-06-16 05:39] afagard commented on #158
This package will automatically renew the token once you login once. I simply login via http once to authenticate the script. Just follow the examples to get thing going.

For CRON, I have found that you need to have `allow_multiple_credentials` set to `false` otherwise it looks for the current user's id, and when in cron, that isn't available.

I am happy to say that I've successfully got a CRON

[2021-06-16 05:41] afagard commented on #154
@VladimirAfonin you can use this package to do what you want, it is just a wrapper for google's native php libs. I've got this package working in CRON after having authenticated the app via http (following the examples outlined in the docs).

[2021-06-17 06:37] afagard opened #203 "Modify batch request to prevent 400 when empty result set"
If you have a request with `preload()` and the result set is 0 (no results), then the `batchRequest()` function will return a 400.

You can simply check if `$allMessages` is == 0, if so, just return an empty array in this function.

[code]
[code]

[2021-07-01 16:21] moisedestin opened #204 "service account"
can I use this library to auth with google service account ?

[2021-07-15 15:35] andrewtweber opened #205 "Authentication required issue"
May not be the appropriate forum for this, feel free to close and I will move to StackOverflow. Tough to find answers there though as most are dealing with Laravel's built-in mail functionality

For one of my projects, every few days I will get this error:

Oddly, just clearing the config cache (and restarting supervisor, then retrying the failed jobs) seems to fix it. What I can't figure out is w

[2021-07-27 01:28] justinbalaguer opened #206 "Eloquent functions not supported?"
Does this wrapper support eloquent functions like ->count()? Or only get() and all()?

[2021-08-09 04:25] simonpangan commented on #151
Just wondering if you already fix this? stuck with this  problem

[2021-08-09 14:14] dacastro4 commented on #151
Please read Laravel's documentation regarding views [url](https://laravel.com/docs/8.x/views)

[2021-08-09 14:14] #151 closed

[2021-08-09 14:15] dacastro4 commented on #206
No, the only methods available are in the docs

[2021-08-09 14:15] #206 closed

[2021-08-09 14:37] dacastro4 commented on #205
I've never gotten this message before. If you can tell me more about which file is throwing this error I can try to help you.

[2021-08-09 14:37] dacastro4 commented on #204
Only Google's Gmail service.

[2021-08-09 14:37] #204 closed

[2021-08-09 14:39] #192 closed

[2021-08-09 14:39] #193 closed

[2021-08-09 14:39] #194 closed

[2021-08-09 14:39] #195 closed

[2021-08-09 14:39] #196 closed

[2021-08-09 14:39] #197 closed

[2021-08-09 14:39] #198 closed

[2021-08-09 14:39] #199 closed

[2021-08-09 14:39] #200 closed

[2021-08-09 14:41] dacastro4 commented on #203
Fixed in v.5.1.21

[2021-08-09 14:41] #203 closed

[2021-08-09 14:45] #201 closed

[2021-08-17 02:43] devildog3261 opened #207 "Save tokens in Database"
Is it possible to save tokens to a database using Laravel's database drivers? If not, can this be a feature request?

[2021-08-20 14:48] ashish-negi opened #208 "Not able to send mail via queue job"
I am not able to send the email via queue job.
There are 2 conditions:

- If **GOOGLE_ALLOW_MULTIPLE_CREDENTIALS** option is set `false`, Then `gmail-json.json` is used for the authentication and email was sent via queue job.
- Now I have enabled the multiple credentials option by setting **GOOGLE_ALLOW_MULTIPLE_CREDENTIALS** to `true`. In this case file is created with user id suffix ie. `gmail-j

[2021-09-01 07:12] temascrlx opened #209 "How do I receive incoming email alerts?"
I would like to receive notifications about changes in the mailbox and only then download unread emails from GMail. How to implement this?

[2021-09-03 05:45] temascrlx commented on #209
Added the setWatch function to the GmailConnection.php class
`/**
	 * Set up or update a push notification watch on the given user mailbox.
	 *
	 * @param string $userId
	 * @param Google_Service_Gmail_WatchRequest $postData
	 *
	 * @return \Google_Service_Gmail_WatchResponse
	 */
	public function setWatch($userId, Google_Service_Gmail_WatchRequest $postData)
	{
		$service = new Google_Service_Gma

[2021-09-07 10:17] bill-sketch opened #210 "LaravelGmail namespace not found"
In my controller I tried to get an email by ID

`\Dacastro4\LaravelGmail::message()->get( $id );`
OR
`LaravelGmail::message()->get( $id )`

As mentioned in the Documentation:

**Messages:**
`LaravelGmail::message()->get( $id )` Returns a single email with all the information

I get this mesage :` Class 'Dacastro4\LaravelGmail' not found`

[2021-09-08 08:39] uacode commented on #173
```$gmail = new LaravelGmailClass(config(), 2);```

setUserId does not works correctly in facade call

[2021-09-12 07:32] skn-036 commented on #208
Inside of handle method of job Auth::user() not accessible. that's why gmail-json-{$authId}.json not found.

I have a work around.
In your vendor/dacastro4/laravel-gmail/LaravelGmailServiceProvider inside the register method
[code]

change this with following code:

[code]

In your LaravelGmailClass
[code]

change this to :
[code]

now in yours jobs handle method
[code]

[2021-09-13 10:27] uacode commented on #203
@dacastro4 Hello, can you push FIX to 5.0 version (PHP 7.4)
Thanks

[2021-09-15 10:53] uacode commented on #210
Put alias to config/app.php
'aliases' => [
....
    'LaravelGmail' => Dacastro4\LaravelGmail\Facade\LaravelGmail::class,
...
]

[2021-09-15 13:42] uacode commented on #169
Try this
[code]

[2021-09-18 01:53] andrewtweber commented on #173
Not 100% sure but I had a related issue after I switched to multiple credentials. It seems that if the `gmail-json.json` file still exists, the user ID switching doesn't really work. After I deleted that file (so only the user-specific files e.g. `gmail-json-1.json` are left), things have been working better

[2021-10-21 06:53] stefanofinetti opened #212 "How to send maxResults to Gmail API"
I noticed that ->all()->preload() only shows the last 100 messages from my gmail account. I know that Gmail APIS have a parameter to increase that number up to 500, but I couldn't find a way, and I can't read the pagecount to create a meaningful paginator for showing the correct number of messages

[2021-11-10 19:12] hesham14yahia opened #213 "refresh token and return new token to store it in database"
I'm sending a scheduled email by a cronjob in the background so I take the callback
`$callback = LaravelGmail::makeToken();`
and save it and use it when the email schedule comes, the issue I'm having is that there isn't a way to refresh the token and get a new one when the access token expires, is there is a method to give it refresh_token and return for me fresh access_token ??

[2021-11-16 21:51] raffismartpadpro opened #214 "554 Message not allowed - [299]"
Hi, has anybody experienced having issues sending to yahoo provided emails (e.g. @verizon.net)? After integrating to laravel-gmail, our emails are being rejected but switching back to using SendInBlue, the same exact emails are being delivered without any problems. Please advise. Thanks.

[2021-12-06 22:04] hossein-sh1398 opened #215 "Attached links"
Hello and have a good time
I am using your package and thank you very much
But I have a problem
I want to have an email attachment link
I think your package does not link to attachments and allows us to save the attachment in our program
I want to have a list of email links and to display the files I do not want to save them in my program
Please add this feature to your package, I need it

[2021-12-08 17:20] TCURT15 opened #216 "Modifiable Traits Do Not Support Multiple Accounts"
Code:

[code]

Throws error:
`
Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential
`

However if I specify the specific token like so, it works.

[code]

[2021-12-08 22:01] #216 closed

[2021-12-08 22:02] TCURT15 commented on #216
Upgraded to 5.1.2

[2021-12-09 12:36] faizanabdullah220 commented on #12
its not working

[2021-12-10 17:44] #215 closed

[2021-12-29 15:47] ChrisSantiago82 commented on #129
@robfrancken
I'm trying to do the same thing you did.
But if I want to access the second account with:
`
LaravelGmail::setUserId('accountB')->makeToken();
`
I'm getting the access to the first account. Now matter what I do I always access just the first account.
I have set this to true.
GOOGLE_ALLOW_MULTIPLE_CREDENTIALS=true

How did you do this?

[2021-12-29 15:51] ChrisSantiago82 commented on #129
Solved it. It's a bad idea just to use a Integer for the setUserId('accountB'). It works when I use a string.

[2021-12-31 12:58] ChrisSantiago82 opened #217 "Attachment issues"
I'm having a fight with attachments. I'm sure I'm doing something wrong.

I'm trying to get all attachments of all mails.

If I do this:
`$messages = LaravelGmail::message()->preload()->all();'

And then if I loop and use the "hasAttachments" it never is true, even if there are a log of files:
`
        foreach ($messages as $message) {
            if ($message->hasAttachments()) {
            }

[2021-12-31 13:31] ChrisSantiago82 commented on #213
I have done something like this:

`            if (LaravelGmail::setUserId('ea_'.$this->emailAccount->id)->isAccessTokenExpired()) {
                LaravelGmail::setUserId('ea_'.$this->emailAccount->id)->refreshToken(LaravelGmail::setUserId('ea_'.$this->emailAccount->id)->getRefreshToken());
            }
            LaravelGmail::setUserId('ea_'.$this->emailAccount->id)->makeToken();`

It seems

[2021-12-31 14:41] ChrisSantiago82 commented on #162
I'm having the same issue. I there a fix or workaround yet?

[2022-01-18 18:05] troygilbert commented on #203
I'm still getting this issue, and I don't see any fixes related to this issue.

[2022-01-18 18:29] troygilbert commented on #203
Just realized I don't have this fix because we're still on PHP 7.4. Would love to see this fix in v5.1 (or relax the the PHP 8 requirement on v5.1.21 if it's not actually required).

[2022-01-18 18:32] troygilbert commented on #203
Actually, it looks like the v5.1.21 tag was made right before composer was updated to be `PHP: ^7.4|^8.0`, so I guess all we really need is a new tag?

[2022-02-21 10:39] striderxfossility opened #218 "Laravel 9"
Can we get support for laravel 9? :)

[2022-03-07 11:55] musiwei commented on #218
+1

[2022-03-07 12:04] musiwei commented on #218
There is already a pull request #219 if you could approve.

[2022-03-07 14:07] #218 closed

[2022-04-06 01:40] raffismartpadpro commented on #214
Also happening to Yahoo emails. I am now removing the API from our application for good. Everything I did to fix the issue failed. No matter how simple or complicated the body and header of the emails are, if sent using this API, Yahoo will just reject them. Thanks.

[2022-04-16 01:07] mend-bolt-for-github[bot] opened #221 "bootstrap-3.3.7.min.js: 6 vulnerabilities (highest severity is: 6.1)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/boo

[2022-04-16 01:07] mend-bolt-for-github[bot] opened #222 "jquery-3.1.1.min.js: 3 vulnerabilities (highest severity is: 6.1)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-3.1.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js

[2022-04-16 01:07] mend-bolt-for-github[bot] opened #223 "orchestra/testbench-v3.5.5: 2 vulnerabilities (highest severity is: 9.8)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>orchestra/testbench-v3.5.5</b></p></summary>

<p></p>
<p>

</details>

## Vulnerabilities

| CVE | Severity | <img src='https://whitesource-resources.whitesourcesoftware.com/cvss3.png' width=19 height=20> CVSS | Dependency | Type | Fixed in | Reme

[2022-04-21 19:18] iamgarik commented on #169
not working (

[2022-04-21 19:19] iamgarik commented on #169
not working (

[2022-04-21 19:40] iamgarik opened #224 "how to get emails from specific user id ?"
$mailbox = new LaravelGmailClass(config(), $admin_uid);
$messages = $mailbox->message()->preload()->all();

this not working ...

any ideas?

[2022-04-21 19:42] uacode commented on #169
@iamgarik  What version of package installed?

[2022-04-21 19:47] uacode commented on #224
What about $admin_uid replace to Auth::id()

[2022-04-21 19:53] iamgarik commented on #169
"version": "v5.1.21",

[2022-04-21 19:54] iamgarik commented on #224
no i need a specific id to put in $admin_uid

[2022-04-21 19:59] iamgarik commented on #169
screen error
[https://monosnap.com/file/LGkt95LZRRnT9wMjY1VyUPHh4IOzdI](url)

[2022-04-21 20:03] iamgarik commented on #224
Error  output

[https://monosnap.com/file/LGkt95LZRRnT9wMjY1VyUPHh4IOzdI](url)

[2022-05-06 16:11] re1naldo opened #225 "Cannot set From header"
From header doesn't change when it is set using `from` method:
[code]

I also tried to use `setHeader`, but it didn't work, either.
`$mail->setHeader('From', $senderEmail);`

How to change From header in the generated email?

[2022-05-11 07:55] Chetan269 opened #226 "Return Redirect issue"
When I login with my mail credentials again redirect  mail credentials view and in storage/app/gmail/token/gmail-json.json nothing create a token and credentials in my project can you help me out this  issue please solve urgent.

[2022-05-19 10:03] rahulkifwat opened #227 "How i check multi user login"
i set userid for multiuser login
$agence_id = request()->session()->get('userdata')->agence_id;
    LaravelGmail::setUserId($agence_id)->makeToken();
    but how i check  user it's login or not in dashboard

[2022-05-30 01:32] mend-bolt-for-github[bot] opened #228 "google/apiclient-v2.2.3: 5 vulnerabilities (highest severity is: 8.1)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>google/apiclient-v2.2.3</b></p></summary>

<p></p>
<p>

</details>

## Vulnerabilities

| CVE | Severity | <img src='https://whitesource-resources.whitesourcesoftware.com/cvss3.png' width=19 height=20> CVSS | Dependency | Type | Fixed in | Remedia

[2022-06-13 11:42] mr-Sepi0l opened #229 "Is it possible to login with just the API Key ?"
Hello there,

I am creating a cron that must fetch the inbox every X minutes to check for new emails and upload attachement somewhere within my app.
Question is, I mainly use that in CLI and there is no login/logout consent screen or anything like that since I'm the owner of the gmail account and this feature will be totally invisible for end user.

Is there a way to skip the OAuth and just use th

[2022-06-19 15:57] yosmellopez opened #230 "How to send embbeded images?"
There is any way to send embbeded images in emails, i try to do that but i don´t find de way to do it. Anyone can help me?

[2022-06-22 22:31] dchavez-vinix opened #231 "Email draft functionality"
Is there any way within the project to generate draft messages?

[2022-07-18 19:39] Snakzi commented on #229
Have you found a solution for this?

[2022-08-02 12:04] ayoubaayoub commented on #180
in my case laravel + angular i solve it like this :
`public function getOauthGmailUrl()
    {
        $url = LaravelGmail::getAuthUrl();
        return response()->json(['url' => $url]);
    }`

[2022-08-05 21:56] #231 closed

[2022-08-09 13:56] hirenpatel1903 commented on #13
I am facing same issue, anyone HELP me !!

![image](https://user-images.githubusercontent.com/47753427/183667700-5345e543-7861-46cc-8cf1-4370696a4ee0.png)

[2022-08-17 07:19] oriceon opened #236 "Set a RefreshToken"
Hi. Take into the consideration for future updates to include a custom option to set refreshToken trought env with fetchAccessTokenWithRefreshToken().

[2022-08-24 08:49] Wessam-Ahmed commented on #229
I have the same use case. Any solution?

[2022-08-31 14:30] ayoubaayoub opened #238 "How to add query to callback-url?"
i use this package in multi-tenancy project and i need to receive some extra parameters in the callback.

 $client = new Google_Client();
 $params = array(
  'signupfor' => 'research',
  ...
 );

 $client->setState(json_encode($params));

[2022-08-31 15:40] #228 closed

[2022-08-31 15:41] #223 closed

[2022-08-31 15:42] #222 closed

[2022-08-31 15:42] #221 closed

[2022-08-31 15:53] ayoubaayoub commented on #238
i find this solution: `config(['gmail.state' => 'new state value']);`

[2022-08-31 15:54] #238 closed

[2022-11-10 08:05] Diel09 opened #240 "Dacastro4\LaravelGmail\Exceptions\AuthException No credentials found."
I have a blank file in the storage/app/gmail/tokens named gmail-json.json i followed the config.php.  need help thank you

[2022-11-10 08:13] Diel09 commented on #240
I have this in my index.blade.php and everytime i log in it will proceed but will still display the log in link
{{ LaravelGmail::user() }}
    @if(LaravelGmail::check())
        <a href="{{ url('oauth/gmail/logout') }}">logout</a>
    @else
        <a href="{{ url('oauth/gmail') }}">login</a>
    @endif

[2022-11-10 08:14] Diel09 commented on #240
Route::get('/oauth/gmail', function (){
    return LaravelGmail::redirect();
});

Route::get('/oauth/gmail/callback', function (){
    LaravelGmail::makeToken();
    return redirect()->to('/');
});

Route::get('/oauth/gmail/logout', function (){
    LaravelGmail::logout(); //It returns exception if fails
    return redirect()->to('/');
});

i have added this in my web.php

[2022-11-19 14:54] manishtm opened #241 "a"

[2022-11-19 18:02] azhar007elhar commented on #20
Class 'Dacastro4\LaravelGmail' not found